<section id="footer">
    <div class="col">
        <h3>{{ _('Information') }}</h3>
        <a href="/faq/shoeSize">{{ _('Foot measurement') }}</a>
        <a href="/faq/delivery">{{ _('Delivery information') }}</a>
        <a href="/faq/replacementsReturns">{{ _('Replacements and returns') }}</a>
    </div>
    <div class="col">
        <h3>{{ _('Legal') }}</h3>
        <a href="/termsofuse">{{ _('Terms of use') }}</a>
        <a href="/privacypolicy">{{ _('Privacy policy') }}</a>
        <a href="/cookiespolicy">{{ _('Cookies policy') }}</a>
        <a href="/shippingpolicy">{{ _('Shipping policy') }}</a>
        <a href="/replacementsandreturnspolicy">{{ _('Replacements and returns policy') }}</a>
    </div>
    <div class="col">
        <h3>{{ _('Contact us') }}</h3>
        <p>{{ _('Phone number') }}:</p>
        <a href="tel:+380506176180">+380 (50) 617 6180</a>
        <p>{{ _('Email') }}:</p>
        <a href="mailto:contact@kidsfashionstore.com.ua">contact@kidsfashionstore.com.ua</a>
    </div>
    <div class="col">
        <h3>{{ _('Our social media') }}</h3>
        <p>Telegram:</p>
        <a href="https://t.me/kids_fashion_store_ukraine" target="Blank">@kids_fashion_store_ukraine</a>
        <p>Instagram:</p>
        <a href="https://instagram.com/kids_fashion_store_eu" target="Blank">@kids_fashion_store_eu</a>
    </div>
    <div class="col">
        <h3>{{ _('Language') }}</h3>
        <a onclick="changeLanguage('uk')">Українська 🇺🇦</a>
        <a onclick="changeLanguage('en')">English 🇺🇸</a>
    </div>
</section>
<script>
    const translations = {{ translationsJs | tojson }};
    const lang = '{{ get_locale() }}';
</script>
<script src="{{ url_for('static', filename='js/footer.js') }}"></script>