<section class="banner" id="newsletter">
    <div class="content">
        <div class="row">
            <h2>{{ _('Be the first to find out about the best deals') }}</h2>
            <h3>{{ _('Sign up for our newsletter') }}</h3>
        </div>
        <div class="row">
            <input id="newsletterEmail" type="email" placeholder="{{ _('your.email@example.com') }}">
            <button id="newsletterButton" onclick="newsletterSignUp()">{{ _('Sign me up') }}</button>
        </div>
    </div>
    <div class="img">
        <img src="{{ url_for('static', filename='img/newsletter.png') }}" alt="">
    </div>
</section>
<script src="{{ url_for('static', filename='js/newsletter.js') }}"></script>