<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    <section id="legal-page" class="nolists">
        <h2>Shipping Policy</h2>
        <h4>Effective Date: 14 July 2024</h4>
        <p>Welcome to Kids Fashion Store ("we," "our," "us"). This Shipping Policy describes the terms and conditions under which
        we offer shipping services for our products purchased through our website, <a href="/">https://kidsfashionstore.ua</a> (the "Site").</p>
        <h4>1. Shipping Areas</h4>
        <p>We offer shipping to addresses across Ukraine and selected countries in Europe using Nova Post (Нова Пошта). Please note
        that shipping availability, times, and costs may vary depending on the destination and are subject to change.</p>
        <h4>2. Shipping Times</h4>
        <p class="no-margin">Shipping times will vary based on the destination:</p>
        <ul class="no-margin">
            <li>Ukraine: Delivery times typically range from 1 to 3 business days.</li>
            <li>Europe: Delivery times to European countries may vary and will be specified during checkout.</li>
        </ul>
        <p>Please note that delivery times are estimates and are not guaranteed. Factors such as customs processing, weather
        conditions, and holidays may affect delivery times.</p>
        <h4>3. Shipping Costs</h4>
        <ul>
            <li>
                Shipping costs are calculated based on the delivery address and the size/weight of the package. Costs may vary as
                follows:
                <ul class="no-margin">
                    <li>Big Cities: Shipping costs may be lower.</li>
                    <li>Small Villages: Shipping costs may be higher due to longer transit times and additional handling fees.</li>
                </ul>
            </li>
            <li>Shipping costs will be calculated and displayed during the checkout process. Customers are responsible for all shipping
            costs, which will be added to the total order amount.</li>
        </ul>
        <h4>4. Order Processing</h4>
        <p>Orders are typically processed and shipped within 1 to 2 business days of payment confirmation. Once your order has
        shipped, you will receive a shipping confirmation email with tracking information.</p>
        <h4>5. Tracking Information</h4>
        <p>Once your order has shipped, you can track your package using the tracking number provided in your shipping confirmation
        email or by logging into your account on our website.</p>
        <h4>6. Customs and Duties</h4>
        <p>For international shipments outside of Ukraine, customs duties, taxes, and fees may apply. These charges are the
        responsibility of the recipient and will be collected upon delivery by the local customs authority. Customs policies
        vary widely from country to country, so please contact your local customs office for more information.</p>
        <h4>7. Lost or Damaged Shipments</h4>
        <p>We are not responsible for lost or damaged shipments. However, if your package is lost or damaged during transit, please
        contact us immediately at <a href="mailto:contact@kidsfashionstore.ua">contact@kidsfashionstore.ua</a> or <a href="tel:+380689016787">+380 68
            901 6787</a> so that we can assist you in filing a claim
        with the shipping carrier.</p>
        <h4>8. Address Accuracy</h4>
        <p>It is the customer's responsibility to provide accurate and complete shipping information. We are not responsible for
        orders shipped to incorrect or incomplete addresses provided by the customer. Please review your shipping address
        carefully before submitting your order.</p>
        <h4>9. Shipping Restrictions</h4>
        <p>We reserve the right to refuse orders for any reason, including shipping restrictions imposed by our shipping carriers.</p>
        <h4>10. Contact Information</h4>
        <p>If you have any questions about our Shipping Policy, please contact us at <a href="mailto:contact@kidsfashionstore.ua">contact@kidsfashionstore.ua</a> or <a href="tel:+380689016787">+380 68
            901 6787</a>.</p>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>

</html>