@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap')

$accent: #E352BA
$accent-light: #E2A4D0
$white: #f1f1f1
$grey: #E0E0E0
$grey-light: #C8C8C8
$grey-dark: #999999
$black: #111

*
    margin: 0
    padding: 0
    box-sizing: border-box

h1, h2
    font-family: Veronica
    font-size: 60px
    font-weight: 400
    color: $accent

a
    text-decoration: none
    color: $accent

    &:hover
        text-decoration: underline

body
    background-color: $white
    color: $black
    font-family: 'Open-Sans', sans-serif
    width: 100%
    height: 2000px

svg.favorite
    position: absolute
    top: 10px
    right: 10px
    width: 30px
    height: 30px

    path
        transition: 0.2s

    &:hover
        cursor: pointer

        path:first-child
            fill: $accent-light

        path:last-child
            fill: $white

.products
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr))
    gap: 20px

    .card
        width: 100%
        min-width: 0
        padding: 15px
        border-radius: 20px
        position: relative

        background-color: $grey

        .img
            position: relative
            width: 100%

        img
            width: 100%
            border-radius: 10px
            margin-bottom: 10px
            cursor: pointer

        h3
            font-size: 24px
            font-weight: 500
            margin-bottom: 10px
            line-height: 35px

        h4
            height: 30px
            text-align: right
            line-height: 40px
            font-weight: 400

        p
            font-size: 16px
            font-weight: 500

        .details
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-bottom: 20px

            .col2
                position: relative

                .prev-price
                    position: absolute
                    top: 0
                    right: 0
                    text-decoration: line-through
                    font-size: 12px

        button
            width: 100%
            background-color: $white
            border-radius: 30px
            padding: 8px
            text-align: center
            font-size: 16px
            border: none
            cursor: pointer
            transition: 0.2s

            &:hover
                background-color: $accent
                color: $white

        .discount
            width: fit-content
            padding: 2px 25px
            background-color: $accent
            color: $white
            border-radius: 10px
            position: absolute
            top: -15px
            left: -15px
            z-index: 2
            rotate: -15deg
            font-size: 20px

#header
    background-color: $white
    width: 100%
    padding: 30px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    position: sticky
    top: 0
    z-index: 999
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05)

    img
        width: 300px

    ul
        display: flex
        flex-direction: row
        list-style-type: none
        margin-left: auto

        li
            margin-left: 20px

            a
                font-weight: 700

#hero
    width: 100%
    height: 40vw
    margin-bottom: 50px

    display: flex
    flex-direction: row
    overflow: hidden
    position: relative

    .imagecol
        width: 12.5%
        display: flex
        flex-direction: column
        justify-content: center
        position: relative

        .img
            width: 100%
            height: 0
            padding-bottom: 100%
            background-size: cover
            background-position: center

    .text-wrapper
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .text
            padding: 75px 20px
            width: 50vw
            background: radial-gradient(47.07% 47.07% at 50% 50%, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%)

            h2
                width: 100%
                text-align: center
                color: $white

    .shadow
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2

    .shadow.top
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)

    .shadow.bottom
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)

#featured
    width: 100%
    padding: 0 30px
    margin-bottom: 50px

    display: flex
    flex-direction: column
    align-items: center

    h2
        margin-bottom: 20px

.banner
    width: 100%
    height: 35vw
    background-color: $grey
    padding: 15px 25px

    position: relative

    font-family: 'Veronica', sans-serif
    color: $accent

    .img
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 0

        img
            width: 50%
            position: absolute
            bottom: 0
            left: 0
            z-index: 0

    .content
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: space-between
        text-align: right
        position: relative
        z-index: 5

        h2
            width: 66vw

        h3
            width: 40vw
            font-weight: 400
            font-size: 32px

        a
            width: 40vw
            font-size: 20px
            background-color: $accent
            color: $white
            border-radius: 20px
            font-family: 'Open-Sans', sans-serif
            padding: 8px
            text-align: center
            cursor: pointer

            &:hover
                text-decoration: none

#to-shop
    margin-bottom: 50px

#sale
    width: 100%
    padding: 0 30px
    margin-bottom: 50px

    display: flex
    flex-direction: column
    align-items: center

    h2
        margin-bottom: 20px

    .products
        margin-bottom: 30px

    a#view-more
        width: 40vw
        min-width: 200px
        padding: 8px
        background-color: $accent
        color: $white
        border-radius: 20px
        font-family: 'Open-Sans', sans-serif
        font-size: 20px
        text-align: center
        cursor: pointer

        &:hover
            text-decoration: none
