@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap')

$accent: #E352BA
$accent-light: #E2A4D0
$white: #f1f1f1
$grey: #E0E0E0
$grey-light: #C8C8C8
$grey-dark: #999999
$black: #111
$green: #4A8C21
$red: #B30A0A

*
    margin: 0
    padding: 0
    box-sizing: border-box

h1, h2
    font-family: Veronica
    font-size: 5vw
    font-weight: 400
    color: $accent

a
    text-decoration: none
    color: $accent

    &:hover
        text-decoration: underline

body
    background-color: $white
    color: $black
    font-family: 'Open-Sans', sans-serif
    width: 100%

svg.favoriteIcon
    position: absolute
    top: 10px
    right: 10px
    width: 30px
    height: 30px

    path
        transition: 0.2s

    &:hover
        cursor: pointer

        path:first-child
            fill: $accent-light

        path:last-child
            fill: $white

svg.favoriteIcon.favorite
    path:first-child
        fill: $accent

    path:last-child
        fill: $white

svg.downArrow
    width: 14px
    height: 23px
    fill: $white

    position: absolute
    top: 5px
    right: 8px

.products
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
    gap: 20px

    .card
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%
        min-width: 0
        padding: 15px
        border-radius: 20px
        position: relative

        background-color: $grey

        .img
            position: relative
            width: 100%

        img
            width: 100%
            border-radius: 10px
            margin-bottom: 10px
            cursor: pointer

        h3
            font-size: 24px
            font-weight: 500
            margin-bottom: 10px
            line-height: 35px

        h4
            height: 30px
            text-align: right
            line-height: 40px
            font-weight: 400

        p
            font-size: 16px
            font-weight: 500

        .details
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-bottom: 20px

            .col2
                min-width: 55px
                position: relative

                .prevPrice
                    position: absolute
                    top: 0
                    right: 0
                    text-decoration: line-through
                    font-size: 12px

        button
            width: 100%
            background-color: $white
            border-radius: 30px
            padding: 8px
            text-align: center
            font-size: 16px
            border: none
            cursor: pointer
            transition: 0.2s

            &:hover
                background-color: $accent
                color: $white

        a.viewDetails
            display: block
            width: 100%
            background-color: $white
            border-radius: 30px
            padding: 8px
            text-align: center
            font-size: 16px
            border: none
            cursor: pointer
            transition: 0.2s
            color: $black

            &:hover
                background-color: $accent
                color: $white
                text-decoration: none

        .discount
            width: fit-content
            padding: 2px 25px
            background-color: $accent
            color: $white
            border-radius: 10px
            position: absolute
            top: -15px
            left: -15px
            z-index: 2
            rotate: -15deg
            font-size: 20px

a.viewMore
    width: 40vw
    min-width: 200px
    padding: 8px
    background-color: $accent
    color: $white
    border-radius: 20px
    font-family: 'Open-Sans', sans-serif
    font-size: 20px
    text-align: center
    cursor: pointer

    &:hover
        text-decoration: none

label
    font-size: 20px

select
    background-color: $grey-dark
    border: none
    border-radius: 5px
    padding: 4px 32px 4px 8px
    font-size: 20px
    color: $white
    position: relative
    font-weight: 100
    appearance: none

    &:focus
        outline: none

    &::-ms-expand
        display: none
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0

#header
    background-color: $white
    width: 100%
    padding: 30px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    position: sticky
    top: 0
    z-index: 999
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05)

    img
        width: 300px

    ul
        display: flex
        flex-direction: row
        list-style-type: none
        margin-left: auto

        li
            margin-left: 20px
            font-size: 20px
            position: relative

            a
                font-weight: 700

            svg
                // width: 20px
                height: 24px
                cursor: pointer

    #userNav
        display: flex
        flex-direction: column
        gap: 20px
        background-color: $grey
        padding: 10px
        border-radius: 10px
        position: absolute
        top: 30px
        right: 0

        transition: 0.5s

        &.hidden
            display: none
            right: -200px

#hero
    width: 100%
    height: 40vw
    margin-bottom: 50px

    display: flex
    flex-direction: row
    overflow: hidden
    position: relative

    .imagecol
        width: 12.5%
        display: flex
        flex-direction: column
        justify-content: center
        position: relative

        .img
            width: 100%
            height: 0
            padding-bottom: 100%
            background-size: cover
            background-position: center

    .textWrapper
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .text
            padding: 75px 20px
            width: 50vw
            background: radial-gradient(47.07% 47.07% at 50% 50%, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%)

            h2
                width: 100%
                text-align: center
                color: $white

    .shadow
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2

    .shadow.top
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)

    .shadow.bottom
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)

#featured
    width: 100%
    padding: 0 30px
    margin-bottom: 50px

    display: flex
    flex-direction: column
    align-items: center

    &.product
        margin-bottom: 0

    h2
        margin-bottom: 20px

.banner
    width: 100%
    height: auto
    background-color: $grey
    padding: 10px

    position: relative

    font-family: 'Veronica', sans-serif
    color: $accent

    .img
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 0

        img
            width: 50%
            position: absolute
            bottom: 0
            left: 0
            z-index: 0

    .content
        width: 100%
        min-height: 100%
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: space-between
        text-align: right
        position: relative
        z-index: 5
        padding: 15px

        h2
            width: 66vw
            margin-bottom: 40px

        h3
            width: 40vw
            font-weight: 400
            font-size: 2.6vw

        a
            margin-top: 40px
            width: 40vw
            font-size: 1.6vw
            background-color: $accent
            color: $white
            border-radius: 20px
            font-family: 'Open-Sans', sans-serif
            padding: 8px
            text-align: center
            cursor: pointer

            &:hover
                text-decoration: none

        button
            width: 40vw
            font-size: 1.6vw
            background-color: $accent
            color: $white
            border-radius: 20px
            font-family: 'Open-Sans', sans-serif
            padding: 8px
            text-align: center
            cursor: pointer
            border: none

            &:hover
                background-color: $accent-light

        .row
            display: flex
            flex-direction: column
            align-items: flex-start
            position: relative

            &:first-child
                margin-bottom: 50px

#toShop
    margin-bottom: 50px

#sale
    width: 100%
    padding: 0 30px

    display: flex
    flex-direction: column
    align-items: center

    h2
        margin-bottom: 20px

    .products
        margin-bottom: 30px

#newsletter
    margin-top: 50px

    .img
        padding: 15px
        display: flex
        flex-direction: row
        justify-content: flex-end

        img
            position: relative
            height: 100%
            width: auto
            left: auto
            right: 0

    .content
        align-items: flex-start
        text-align: left

        h2
            width: 50vw
            margin-bottom: 0

        input
            width: 50vw
            padding: 10px
            border-radius: 10px
            border: none
            font-size: 1.4vw
            margin-bottom: 15px

            &:focus
                outline: none

            &::placeholder
                color: $grey-dark

        button
            width: 50vw

#footer
    padding: 25px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    background-color: $grey-dark
    color: $white

    h3
        font-size: 24px
        margin-bottom: 20px

    a
        font-size: 20px
        color: $white
        margin-bottom: 10px

    p
        font-size: 20px

    .col
        display: flex
        flex-direction: column

        &:nth-child(1)
            width: 18%

        &:nth-child(2)
            width: 18%

        &:nth-child(3)
            width: 25%

        &:nth-child(4)
            width: 25%

#catalogue
    width: 100%
    padding: 0 30px
    margin-top: 20px

    display: flex
    flex-direction: column
    align-items: center

    h2
        margin-bottom: 20px

    .products
        margin-bottom: 30px

    .filtering
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
        gap: 15px
        margin-bottom: 40px

        .filter, .sort
            display: flex
            flex-direction: row
            align-items: center
            gap: 5px
            position: relative

    a:not(.viewDetails)
        margin-bottom: 10px

    .pagination
        p
            font-size: 18px

        svg
            height: 12px
            width: 7px

        a, span.dots
            color: $grey-dark

            &:hover
                text-decoration: none
                color: $accent

                &.arrow svg path
                    fill: $accent

        span
            color: $black

    .noProducts
        font-size: 24px

#product
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 20px
    padding: 30px

    .images
        width: calc( 50% - 10px )
        display: flex
        flex-direction: column
        gap: 20px

        .mainImg
            width: 100%
            position: relative

            img
                width: 100%

            svg
                width: 40px
                height: 40px
                cursor: pointer
                position: absolute
                top: 50%
                transform: translateY(-50%)
                opacity: 0.8

            svg.left
                left: 10px

            svg.right
                right: 10px

        #others
            width: 100%
            display: grid
            grid-template-columns: repeat(4, 1fr)
            gap: 20px

            img
                width: 100%
                cursor: pointer

            img.selected
                filter: brightness(0.7)

            img.inactive
                display: none

    .information
        display: flex
        flex-direction: column
        width: calc( 50% - 10px )
        align-items: center

        color: $black
        font-size: 24px

        h1
            width: 100%
            font-family: 'Open-Sans', sans-serif
            font-weight: 700
            font-size: 40px
            text-align: center
            color: $black
            margin-bottom: 20px

        h2
            font-family: 'Open-sans', sans-serif
            font-weight: 400
            font-size: 30px
            color: $black
            margin-bottom: 10px

        p
            margin-bottom: 5px

            &.instock
                color: $green

            &.notinstock
                color: $red

        .row
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-bottom: 20px

        .selectCol
            width: 100%
            margin-bottom: 20px

        .select
            display: flex
            flex-direction: row
            gap: 10px
            align-items: center
            position: relative
            margin-bottom: 10px
            width: fit-content

            label, select
                font-size: 24px

        button
            width: 80%
            background-color: $accent
            color: $white
            border-radius: 30px
            padding: 10px 0
            border: none
            cursor: pointer
            font-size: 24px
            margin-bottom: 50px

            &:hover
                background-color: $accent-light

            &.inactive
                background-color: $accent-light
                cursor: default

        .additional
            width: 100%

#productFaq
    padding: 0 30px
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 20px

    div.info
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 100%

        .head
            padding: 15px
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center
            gap: 10px
            cursor: pointer
            background-color: $grey
            border-radius: 10px
            width: 100%
            margin-bottom: 30px

            h3
                font-size: 24px
                font-weight: 400

            svg
                width: 20px
                transform: rotate(180deg)

        p
            margin-top: -20px
            margin-bottom: 30px
            display: none
            font-size: 24px

        a
            color: $accent
            text-decoration: none

            &:hover
                text-decoration: underline

        &.active
            p
                display: block

            svg
                transform: rotate(0deg)

#faq
    margin-top: 20px
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    padding: 0 20px

    .posts
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        gap: 20px

        .card
            width: calc(32% - 10px)
            background-color: $grey
            border-radius: 20px
            padding: 15px
            display: flex
            flex-direction: column
            justify-content: space-between

            img
                width: 100%
                height: auto
                aspect-ratio: 3 / 2
                object-fit: contain
                border-radius: 10px
                background-color: #fff
                margin-bottom: 10px

            h3
                font-size: 28px
                font-weight: 400
                margin-bottom: 15px

            p
                font-size: 18px
                font-weight: 400
                margin-bottom: 20px

            a.button
                display: block
                width: 100%
                background-color: $white
                color: $black
                border-radius: 30px
                padding: 10px
                text-align: center
                font-size: 18px
                transition: 0.2s

                &:hover
                    background-color: $accent
                    color: $white
                    text-decoration: none

#faqPage, #legalPage
    margin-top: 20px
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0 20px

    h2
        width: 100%
        text-align: center
        margin-bottom: 10px

    h3
        width: 100%
        text-align: center
        margin-bottom: 5px
        font-family: 'Open Sans', sans-serif
        color: $black
        font-size: 24px

    h4
        width: 100%
        text-align: left
        margin-bottom: 5px
        font-family: 'Open Sans', sans-serif
        color: $black
        font-size: 20px

    p
        font-size: 18px

    p.subheading
        font-size: 20px
        font-weight: 400
        margin-bottom: 20px

    ul
        margin-bottom: 20px

        li
            font-size: 18px
            margin-left: 25px

    .row
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: stretch
        gap: 30px

        img
            width: calc( 35% - 15px )
            padding: 15px
            border-radius: 10px
            background-color: $grey
            object-fit: contain

        .text
            width: calc( 65% - 15px )

            *
                width: 100%

    &.nolists
        p
            margin-bottom: 20px

            &.noMargin
                margin-bottom: 0

    .noMargin
        margin-bottom: 0

#legalPage
    a
        color: $black
        text-decoration: underline

        &:hover
            color: $accent

#contact
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 20px
    margin-top: 20px

    h4
        font-size: 24px
        margin-bottom: 10px

    p
        font-size: 18px
        margin-bottom: 5px

    .info
        width: 100%
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-bottom: 20px

    .row
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 100%
        gap: 20px
        margin-bottom: 20px

        .col
            display: flex
            flex-direction: column

    form
        width: calc( 50% - 10px )
        display: flex
        flex-direction: column
        align-items: flex-start

        input, textarea
            width: 100%
            padding: 10px
            border-radius: 10px
            border: none
            font-size: 18px
            margin-bottom: 15px
            background-color: $grey-dark
            color: $white

            &:focus
                outline: none

            &::placeholder
                color: $grey

        textarea
            resize: vertical
            min-height: 100px
            max-height: 300px
            font-family: 'Open Sans', sans-serif

        button
            width: 100%
            background-color: $accent
            color: $white
            border-radius: 30px
            padding: 10px
            border: none
            cursor: pointer
            font-size: 18px

            &:hover
                background-color: $accent-light

    .form
        p
            width: calc( 50% - 10px )

#cart
    width: 100%
    margin-top: 20px
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 50px

    h2
        width: 100%
        text-align: center
        margin-bottom: 20px

    h4
        font-size: 24px
        font-weight: 700
        margin-bottom: 20px

    .cartRow
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 20px

    .cartItems
        width: calc( 75% - 10px )
        display: flex
        flex-direction: column
        gap: 20px

        .card
            width: 100%
            padding: 10px
            display: flex
            flex-direction: row
            justify-content: space-between
            gap: 20px
            border-radius: 15px
            background-color: $grey

            p
                font-size: 18px
                margin-bottom: 15px

            p.instock
                color: $green

            p.notinstock
                color: $red

            .img
                width: calc( 30% - 10px )
                position: relative

                img
                    width: 100%
                    border-radius: 10px

            .data
                display: flex
                flex-direction: column
                width: calc( 70% - 10px )
                align-items: flex-start
                justify-content: space-between
                padding: 10px 0

            .row
                display: flex
                flex-direction: row
                justify-content: space-between
                width: 100%

            .col
                display: flex
                flex-direction: column

                &.end
                    align-items: flex-end

            .select
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                font-size: 18px
                gap: 10px
                align-items: center
                position: relative
                margin-bottom: 10px
                width: fit-content

                label, select
                    font-size: 18px

        button, a.button
            width: calc( 50% - 10px )
            background-color: $white
            color: $black
            border-radius: 30px
            padding: 10px
            border: none
            cursor: pointer
            font-size: 18px
            text-align: center
            transition: 0.2s

            &:hover
                background-color: $accent
                color: $white
                text-decoration: none

    .summary
        width: calc( 25% - 10px )
        height: fit-content
        border-radius: 15px
        display: flex
        flex-direction: column
        gap: 20px
        padding: 20px
        background-color: $grey

        h4
            width: 100%
            text-align: center
            margin: 0

        .row
            display: flex
            flex-direction: row
            justify-content: space-between

            p
                font-size: 18px

        a
            width: 100%
            background-color: $accent
            color: $white
            border-radius: 30px
            padding: 10px
            text-align: center
            cursor: pointer
            font-size: 18px
            transition: 0.2s

            &:hover
                background-color: $accent-light
                text-decoration: none

    .cartEmpty
        width: 100%
        text-align: center
        font-size: 24px
        display: flex
        gap: 20px
        flex-direction: column
        align-items: center

        h4
            margin-bottom: 10px

        a
            display: block
            width: 33%
            background-color: $accent
            color: $white
            border-radius: 30px
            padding: 10px
            text-align: center
            cursor: pointer
            font-size: 24px
            transition: 0.2s

            &:hover
                background-color: $accent-light
                text-decoration: none

#checkout
    width: 100%
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 50px
    margin-top: 20px

    h2
        width: 100%
        text-align: center
        margin-bottom: 20px

    a.back
        display: flex
        flex-direction: row
        align-items: center
        gap: 5px
        width: 100%
        text-align: left
        color: $accent
        text-decoration: none
        margin-bottom: 20px

        svg
            height: 15px

        &:hover
            text-decoration: underline

    .toggle
        padding: 15px
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        gap: 10px
        cursor: pointer
        background-color: $grey
        border-radius: 10px
        width: 100%
        margin-bottom: 15px

        svg
            width: 18px
            transform: rotate(180deg)

            &.disabled
                display: block
                transform: rotate(0deg)

        h4
            font-weight: 400
            width: fit-content

    .shipping, .payment, .contact
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 20px
        margin-bottom: 30px

        .inputs
            width: calc( 50% - 10px )
            display: flex
            flex-direction: column
            gap: 20px
            font-size: 18px

            input
                width: 100%
                font-size: 18px
                padding: 4px 8px
                border-radius: 5px
                border: none
                background-color: $grey-dark
                color: $white

                &:focus
                    outline: none

                &::placeholder
                    color: $grey

            .select
                width: 100%
                position: relative

                select
                    font-size: 18px
                    width: 100%

            .checkbox
                display: flex
                flex-direction: row
                align-items: center
                gap: 8px

                .box
                    width: 20px
                    height: 20px
                    background-color: $grey-dark
                    border-radius: 5px
                    border: none
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: r

                    svg
                        height: 10px

                input
                    width: 20px
                    height: 20px
                    background-color: $grey-dark
                    border-radius: 5px
                    border: none

                p
                    font-size: 18px

        p.side
            width: calc( 50% - 10px )

    .disabled
        display: none

    .review
        width: 100%
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 20px

        &.disabled
            display: none

        h4
            font-size: 24px

        .cartRow
            display: flex
            flex-direction: row
            justify-content: space-between
            gap: 20px

        .cartItems
            width: 100%
            display: flex
            flex-direction: column
            gap: 15px

            .card
                width: 100%
                padding: 10px
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-items: center
                gap: 20px
                border-radius: 15px
                background-color: $grey

                h4
                    font-size: 24px

                p
                    font-size: 18px

                .img
                    width: calc( 15% - 10px )
                    position: relative

                    img
                        width: 100%
                        border-radius: 10px

                .data
                    display: flex
                    flex-direction: column
                    width: calc( 85% - 10px )
                    align-items: flex-start
                    justify-content: space-between
                    padding: 10px 0

                .row
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-items: center
                    width: 100%

                .col
                    display: flex
                    flex-direction: column
                    gap: 10px

                    &.start
                        margin-right: 100px

                    &.end
                        align-items: flex-start

                .select
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap
                    font-size: 18px
                    gap: 10px
                    align-items: center
                    position: relative
                    margin-bottom: 10px
                    width: fit-content

                    label, select
                        font-size: 18px

            button, a.button
                width: calc( 50% - 10px )
                background-color: $white
                color: $black
                border-radius: 30px
                padding: 10px
                border: none
                cursor: pointer
                font-size: 18px
                text-align: center

        .orderinfo
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-between
            gap: 20px

            padding: 10px
            background-color: $grey
            border-radius: 10px

            margin-bottom: 30px

            h4
                font-weight: 400
                font-size: 18px

    button
        width: 50%
        background-color: $accent
        color: $white
        border-radius: 30px
        padding: 10px
        border: none
        cursor: pointer
        font-size: 18px

        &:hover
            background-color: $accent-light

#orders
    width: 100%
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 20px
    margin-bottom: 50px

    h2
        width: 100%
        text-align: center
        margin-bottom: 20px

    .orders
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        gap: 20px

        .card
            width: 100%
            padding: 10px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            gap: 20px
            border-radius: 15px
            background-color: $grey

            h4
                font-size: 24px

            p
                font-size: 18px

            .img
                width: calc( 15% - 10px )
                position: relative

                img
                    width: 100%
                    border-radius: 10px

            .data
                display: flex
                flex-direction: column
                width: calc( 85% - 10px )
                align-items: center
                justify-content: space-between
                padding: 10px 0
                height: 100%

            .row
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                width: 100%
                gap: 20px

            .col
                display: flex
                flex-direction: column
                gap: 10px

                &.start
                    margin-right: 100px

                &.end
                    align-items: flex-start

#order
    width: 100%
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 20px
    margin-bottom: 50px

    h2
        width: 100%
        text-align: center
        margin-bottom: 20px

    h4
        font-size: 24px
        font-weight: 700

    p
        font-size: 18px
        font-weight: 400

    .row
        // width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 150px

        .col
            display: flex
            flex-direction: column
            gap: 20px

    .status
        display: flex
        flex-direction: row
        gap: 10px
        align-items: center

        .circle
            width: 20px
            height: 20px
            border-radius: 50%
            background-color: $grey

            &.active
                border: 3px solid $accent

                &::before
                    display: block
                    content: ''
                    width: 8px
                    height: 8px
                    border-radius: 50%
                    background-color: $accent
                    position: relative
                    top: 3px
                    left: 3px

#loginForm, #signupForm
    width: 100%
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 20px

    h2
        width: 100%
        text-align: center
        margin-bottom: 20px

    form
        width: 50%
        display: flex
        flex-direction: column
        align-items: flex-start
        padding: 20px
        background-color: $grey
        border-radius: 20px
        margin-bottom: 50px

        .input
            position: relative
            width: 100%

            svg
                position: absolute
                top: 10px
                left: 10px
                height: 20px

        input
            width: 100%
            padding: 10px
            padding-left: 40px
            border-radius: 10px
            border: none
            font-size: 18px
            margin-bottom: 20px
            background-color: $grey-dark
            color: $white

            &:focus
                outline: none

            &::placeholder
                color: $grey

            &.password
                margin-bottom: 10px

        button
            width: 100%
            background-color: $accent
            color: $white
            border-radius: 30px
            padding: 10px
            margin-bottom: 10px
            border: none
            cursor: pointer
            font-size: 18px

            &:hover
                background-color: $accent-light

    p
        color: $accent-light

    p.margin
        margin-bottom: 10px

    a
        color: $accent-light
        text-decoration: none
        margin-bottom: 40px
        text-decoration: underline

        &:hover
            color: $accent

#settings
    width: 100%
    padding: 0 20px
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 20px
    margin-bottom: 50px

    h2
        width: 100%
        text-align: center
        margin-bottom: 20px

    h4
        font-size: 24px
        font-weight: 700
        margin-bottom: 5px

    p, label, select
        font-size: 18px
        font-weight: 400

    .disabled
        display: none

    .row
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 50px

        .col
            display: flex
            flex-direction: column
            gap: 20px
            align-items: flex-start

            &.col1
                width: calc( 60% - 25px )

            &.col2
                width: calc( 40% - 25px )

    .group
        width: 100%

    .input
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: 10px

        input
            width: 50%
            padding: 4px 8px
            border-radius: 5px
            border: none
            font-size: 18px
            background-color: $grey-dark
            color: $white

            &:focus
                outline: none

            &::placeholder
                color: $grey

    .select
        position: relative

        select
            width: 100%

    input, .select
        width: 50%

    .checkbox
        display: flex
        flex-direction: row
        align-items: center
        gap: 8px
        margin-top: 10px

        .box
            width: 20px
            height: 20px
            background-color: $grey-dark
            border-radius: 5px
            border: none
            display: flex
            justify-content: center
            align-items: center
            cursor: r

            svg
                height: 10px

    .promo p
        margin-bottom: 10px

    .promoCode
        padding: 4px 8px
        background-color: $grey-dark
        color: $white
        border-radius: 5px
