@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: Veronica;
  font-size: 60px;
  font-weight: 400;
  color: #E352BA;
}

a {
  text-decoration: none;
  color: #E352BA;
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: #f1f1f1;
  color: #111;
  font-family: "Open-Sans", sans-serif;
  width: 100%;
  height: 2000px;
}

svg.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
svg.favorite path {
  transition: 0.2s;
}
svg.favorite:hover {
  cursor: pointer;
}
svg.favorite:hover path:first-child {
  fill: #E2A4D0;
}
svg.favorite:hover path:last-child {
  fill: #f1f1f1;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
}
.products .card {
  width: 100%;
  min-width: 0;
  padding: 15px;
  border-radius: 20px;
  position: relative;
  background-color: #E0E0E0;
}
.products .card .img {
  position: relative;
  width: 100%;
}
.products .card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.products .card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 35px;
}
.products .card h4 {
  height: 30px;
  text-align: right;
  line-height: 40px;
  font-weight: 400;
}
.products .card p {
  font-size: 16px;
  font-weight: 500;
}
.products .card .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products .card .details .col2 {
  position: relative;
}
.products .card .details .col2 .prev-price {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: line-through;
  font-size: 12px;
}
.products .card button {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.products .card button:hover {
  background-color: #E352BA;
  color: #f1f1f1;
}
.products .card .discount {
  width: fit-content;
  padding: 2px 25px;
  background-color: #E352BA;
  color: #f1f1f1;
  border-radius: 10px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 2;
  rotate: -15deg;
  font-size: 20px;
}

#header {
  background-color: #f1f1f1;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}
#header img {
  width: 300px;
}
#header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: auto;
}
#header ul li {
  margin-left: 20px;
}
#header ul li a {
  font-weight: 700;
}

#hero {
  width: 100%;
  height: 40vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
#hero .imagecol {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#hero .imagecol .img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
#hero .text-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .text-wrapper .text {
  padding: 75px 20px;
  width: 50vw;
  background: radial-gradient(47.07% 47.07% at 50% 50%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
#hero .text-wrapper .text h2 {
  width: 100%;
  text-align: center;
  color: #f1f1f1;
}
#hero .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#hero .shadow.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
#hero .shadow.bottom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

#featured {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured h2 {
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  height: 35vw;
  background-color: #E0E0E0;
  padding: 15px 25px;
  position: relative;
  font-family: "Veronica", sans-serif;
  color: #E352BA;
}
.banner .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.banner .img img {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.banner .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  position: relative;
  z-index: 5;
}
.banner .content h2 {
  width: 66vw;
}
.banner .content h3 {
  width: 40vw;
  font-weight: 400;
  font-size: 32px;
}
.banner .content a {
  width: 40vw;
  font-size: 20px;
  background-color: #E352BA;
  color: #f1f1f1;
  border-radius: 20px;
  font-family: "Open-Sans", sans-serif;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.banner .content a:hover {
  text-decoration: none;
}

#to-shop {
  margin-bottom: 50px;
}

#sale {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sale h2 {
  margin-bottom: 20px;
}
#sale .products {
  margin-bottom: 30px;
}
#sale a#view-more {
  width: 40vw;
  min-width: 200px;
  padding: 8px;
  background-color: #E352BA;
  color: #f1f1f1;
  border-radius: 20px;
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
#sale a#view-more:hover {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
