@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: Veronica;
  font-size: 60px;
  color: #E352BA;
}

a {
  text-decoration: none;
  color: #E352BA;
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: #f1f1f1;
  color: #111;
  font-family: "Open-Sans", sans-serif;
  width: 100%;
  height: 2000px;
}

svg.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
svg.favorite path {
  transition: 0.2s;
}
svg.favorite:hover {
  cursor: pointer;
}
svg.favorite:hover path:first-child {
  fill: #E2A4D0;
}
svg.favorite:hover path:last-child {
  fill: #f1f1f1;
}

#header {
  background-color: #f1f1f1;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}
#header img {
  width: 300px;
}
#header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: auto;
}
#header ul li {
  margin-left: 20px;
}
#header ul li a {
  font-weight: 700;
}

#hero {
  width: 100%;
  height: 40vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
#hero .imagecol {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#hero .imagecol .img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
#hero .text-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .text-wrapper .text {
  padding: 75px 20px;
  width: 50vw;
  background: radial-gradient(47.07% 47.07% at 50% 50%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
#hero .text-wrapper .text h2 {
  width: 100%;
  text-align: center;
  color: #f1f1f1;
}
#hero .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#hero .shadow.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
#hero .shadow.bottom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

#featured {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured h2 {
  margin-bottom: 20px;
}
#featured .products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
#featured .products .card {
  width: 100%;
  min-width: 0;
  padding: 15px;
  border-radius: 20px;
  background-color: #E0E0E0;
}
#featured .products .card .img {
  position: relative;
  width: 100%;
}
#featured .products .card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
#featured .products .card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
#featured .products .card h4 {
  height: 30px;
  text-align: right;
  line-height: 34px;
  font-weight: 400;
}
#featured .products .card p {
  font-size: 16px;
  font-weight: 500;
}
#featured .products .card .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
#featured .products .card button {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
#featured .products .card button:hover {
  background-color: #E352BA;
  color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
