<!DOCTYPE html>
<html lang="{{ get_locale() }}" class="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="faqPage">
        <h2>FAQ</h2>
        <h3>{{ _('How to Select the Right Shoe Size for Your Child') }}</h3>
        <p class="subheading">{{ _('Choosing the right shoe size for your child is essential for their comfort and foot health. Follow these simple steps to ensure you get the perfect fit.') }}</p>
        <h4>{{ _('Step-by-step Instructions') }}:</h4>
        <p>1. {{ _('Prepare the Materials') }}</p>
        <ul>
            <li>{{ _('A piece of paper') }}</li>
            <li>{{ _('A pencil') }}</li>
            <li>{{ _('A ruler') }}</li>
        </ul>
        <div class="row">
            <div class="text">
                <p>2. {{ _('Trace Your Child’s Foot') }}</p>
                <ul>
                    <li>{{ _('Place the piece of paper on a flat, hard surface.') }}</li>
                    <li>{{ _('Have your child stand barefoot on the paper.') }}</li>
                    <li>{{ _('Ensure your child’s foot is flat and their weight is evenly distributed.') }}</li>
                    <li>{{ _('Using the pencil, carefully trace around your child’s foot. Try to keep the pencil as vertical as possible to get an accurate outline.') }}</li>
                </ul>
            <p>3. {{ _('Measure the Foot Length') }}</p>
            <ul>
                <li>{{ _('Remove the paper and use the ruler to measure the longest distance from the heel to the tip of the longest toe.') }}</li>
                <li>{{ _('This measurement is your child’s foot length.') }}</li>
            </ul>
            </div>
            <img src="../static/img/feetMeasurement.png" alt="">
        </div>
        <p>4. {{ _('Compare with Insole Lengths') }}</p>
        <ul>
            <li>{{ _('On our shop, each shoe size includes the length of the insole.') }}</li>
            <li>{{ _('Compare your child’s foot length to the insole lengths provided.') }}</li>
            <li>{{ _('Choose the shoe size where the insole length is slightly longer than your child’s foot length, allowing for some growing room.') }}</li>
        </ul>
        <p>{{ _('Additional Tips') }}:</p>
        <ul>
            <li>{{ _('Measure Both Feet: Sometimes one foot is slightly larger than the other. Use the measurement of the larger foot to ensure comfort') }}.</li>
            <li>{{ _('Consider Growth: Kids\' feet grow quickly, so it’s a good idea to leave a little extra room (about one centimeter) for growth') }}.</li>
            <li>{{ _('Try Shoes On: If possible, have your child try on the shoes and walk around to ensure they feel comfortable') }}.</li>
            <li>{{ _('The shoes should have enough room at the toes and fit snugly around the heels') }}.</li>
        </ul>
        <p>{{ _('Example') }}:</p>
        <ul>
            <li>{{ _('If your child’s foot length is 18 cm, look for a shoe size with an insole length of around 18.5 - 19 cm') }}.</li>
        </ul>
        <p class="final">{{ _('By following these steps, you can confidently select the correct shoe size for your child, ensuring they have
        comfortable and well fitting shoes. Happy Shopping!') }}</p>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>