<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="admin">
        <h2>Control Panel</h2>
        <div class="group">
            <h4>Activity</h4>
            <div class="data">
                <div class="row">
                    <div class="col">
                        <p>Requests today: {{ requestsToday }}</p>
                        <p>Unique visits today: {{ uniqueVisitsToday }}</p>
                    </div>
                    <div class="col">
                        <p>Average daily requests: {{ averageDailyRequests }}</p>
                        <p>Average unique visits: {{ averageDailyUniqueVisits }}</p>
                    </div>
                </div>
                <div class="chart">
                    <h4>Daily requests:</h4>
                    <canvas id="requestsChart" height="400"></canvas>
                </div>
            </div>
        </div><div class="group">
            <h4>Products</h4>
            <div class="data">
                <div class="row">
                    <div class="col">
                        <p>Items on site: {{ totalProducts }}</p>
                        <p>Most popular category: Sandals</p>
                    </div>
                    <div class="col">
                        <p>In stock: {{ inStock }}</p>
                        <p>Most common size: 27</p>
                    </div>
                </div>
                <div class="row">
                    <a href="/admin/products">Edit products</a>
                    <a href="/admin/products/add">Add product</a>
                </div>
            </div>
        </div>
        <div class="group">
            <h4>Orders</h4>
            <div class="data">
                <div class="row">
                    <div class="col">
                        <p>Total: {{ ordersTotal }}</p>
                        <p>Pending: {{ ordersPending }}</p>
                    </div>
                    <div class="col">
                        <p>Today: {{ ordersToday }}</p>
                        <p>Average: {{ ordersDailyAverage }}</p>
                    </div>
                </div>
                <div class="row">
                    <a href="/admin/orders">View orders</a>
                    <a href="/admin/orders?orderStatus=pending">View pending</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const dailyRequests = {{ dailyRequests | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/adminCharts.js') }}"></script>
</body>
</html>