<!DOCTYPE html>
<html lang="{{ get_locale() }}" class="{{ get_locale() }}">
{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    <section id="adminProduct">
        <h2>{% if pageType == 'edit' %}{{ _('Edit') }}{% else %}{{ _('Add') }}{% endif %} {{ _('product') }}</h2>
        <a class="back" href="/admin/products">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21" fill="none">
                <path
                    d="M10.1911 1.74921e-06L12 1.86375L3.61783 10.5L12 19.1362L10.1911 21L-9.8941e-07 10.5L10.1911 1.74921e-06Z"
                    fill="#E352BA" />
            </svg>
            {{ _('Back') }}
        </a>
        {% set sortedSizes = product.sizes | sort %}
        {% set sortedSizesCm = product.sizesCm | dictsort %}
        {% set sortedMaxQuantities = product.maxQuantities | dictsort %}
        {% set sortedWarehouses = product.warehouses | dictsort %}
        <div class="row">
            <div class="col">
                <h4>{{ _('Information') }}</h4>
                <div class="input">
                    <label for="inputProductId">{{ _('Product id') }}</label>
                    <input type="number" value="{{ product.id }}" disabled>
                </div>
                <div class="input">
                    <label for="inputTags">{{ _('Tags') }}</label>
                    <input id="inputTags" type="text" value="{{ product.tags[0] }}{% for tag in product.tags[1:] %}, {{ tag }}{% endfor %}" placeholder="featured, sale">
                </div>
                <div class="input">
                    <label for="inputCategory">{{ _('Category') }}</label>
                    <input id="inputCategory" type="text" value="{{ product.category }}" placeholder="{{ _('Sandals') }}">
                </div>
                <div class="input">
                    <label for="inputInstagramUrl">{{ _('Instagram Link') }}</label>
                    <input type="text" id="inputInstagramUrl" placeholder="https://www.instagram.com/p/C7MCwOjtCvC/?img_index=1">
                </div>
                <div class="input">
                    <label for="inputBrand">{{ _('Brand') }}</label>
                    <input id="inputBrand" type="text" value="{{ product.brand }}" placeholder="Geox">
                </div>
                <div class="input">
                    <label for="inputPrice">{{ _('Original Price') }}</label>
                    <input id="inputPrice" type="text" value="{{ product.prevPrice }}" placeholder="2999">
                </div>
                <div class="input">
                    <label for="inputDiscount">{{ _('Discount') }}</label>
                    <input id="inputDiscount" type="text" value="{{ product.discount }}%" placeholder="30%">
                </div>
                <div class="input">
                    <label for="inputSizes">{{ _('Sizes') }}</label>
                    <input id="inputSizes" type="text" value="{{ sortedSizes[0] }}{% for size in sortedSizes[1:] %}, {{ size }}{% endfor %}" placeholder="33, 34, 35">
                </div>
                <div class="input">
                    <label for="inputSex">{{ _('Sex') }}</label>
                    <select name="sex" id="inputSex">
                        <option value="boy" {% if not product.sex or product.sex=="boy" %}
                            selected {% endif %}>{{ _('Boy') }}</option>
                        <option {% if product.sex=="girl" %} selected {% endif %} value="girl">{{ _('Girl') }}
                        </option>
                        <option {% if product.sex=="unisex" %} selected {% endif %} value="unisex">{{ _('Unisex') }}</option>
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <div class="input">
                    <label for="inputSeason">{{ _('Season') }}</label>
                    <input id="inputSeason" type="text" value="{{ product.additionalInformation.season }}" placeholder="{{ _('Summer/Autumn') }}">
                </div>
                <div class="input">
                    <label for="inputMaterialOuter">{{ _('Outer material') }}</label>
                    <input id="inputMaterialOuter" type="text" value="{{ product.additionalInformation.outerMaterial }}" placeholder="{{ _('Leather') }}">
                </div>
                <div class="input">
                    <label for="inputMaterialInner">{{ _('Inner material') }}</label>
                    <input id="inputMaterialInner" type="text" value="{{ product.additionalInformation.innerMaterial }}" placeholder="{{ _('Fur') }}">
                </div>
                <div class="input">
                    <label for="inputMaterialInsole">{{ _('Insole material') }}</label>
                    <input id="inputMaterialInsole" type="text" value="{{ product.additionalInformation.insoleMaterial }}" placeholder="{{ _('Leather') }}">
                </div>
                <div class="input">
                    <label for="inputInsoleLengths">{{ _('Insole lengths') }}</label>
                    <textarea id="inputInsoleLengths" type="text" placeholder="33 (20.5 {{ _('cm') }}), 34 (21 {{ _('cm') }}), 35 (21.5 {{ _('cm') }})">{% for key, value in sortedSizesCm %}{{ key }} ({{ value }} cm){% if not loop.last %}, {% endif %}{% endfor %}</textarea>
                </div>
                <div class="input">
                    <label for="inputQuantitiesLeft">{{ _('Quantities') }}</label>
                    <textarea id="inputQuantitiesLeft" type="text" placeholder="33 (1), 34 (2), 35 (2)">{% for key, value in sortedMaxQuantities %}{{ key }} ({{ value }}){% if not loop.last %}, {% endif %}{% endfor %}</textarea>
                </div>
                <div class="input">
                    <label for="inputWarehouses">{{ _('Warehouses') }}</label>
                    <textarea id="inputWarehouses" type="text" placeholder="33 (Kyiv), 34 (Ternopil), 35 (Odesa)">{% for key, value in sortedWarehouses %}{{ key }} ({{ value }}){% if not loop.last %}, {% endif %}{% endfor %}</textarea>
                </div>
            </div>
            <div class="col">
                <h4>{{ _('Images') }}</h4>
                <div class="images" id="images">
                    {% for img in product.images %}
                    <div class="imageWrapper" id="image{{ img }}" data-index="{{ product.images.index(img) }}">
                        <div class="image">
                            <svg onclick="deleteImage('{{ img }}')" class="arrow delete" xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35" fill="none">
                                <path
                                    d="M36 17.5C36 27.165 27.9411 35 18 35C8.05887 35 0 27.165 0 17.5C0 7.83502 8.05887 0 18 0C27.9411 0 36 7.83502 36 17.5Z"
                                    fill="#E0E0E0" />
                                <path
                                    d="M12.7681 28.3332C12.1885 28.3332 11.6924 28.1338 11.2797 27.7349C10.867 27.3359 10.6607 26.8564 10.6607 26.2962V13.0555H9.60697V11.0184H14.8755V9.9999H21.1976V11.0184H26.4661V13.0555H25.4124V26.2962C25.4124 26.8564 25.2061 27.3359 24.7934 27.7349C24.3807 28.1338 23.8846 28.3332 23.305 28.3332H12.7681ZM23.305 13.0555H12.7681V26.2962H23.305V13.0555ZM14.8755 24.2592H16.9829V15.0925H14.8755V24.2592ZM19.0903 24.2592H21.1976V15.0925H19.0903V24.2592Z"
                                    fill="#1C1B1F" />
                            </svg>
                            <svg onclick="imageBack('{{ img }}')" class="arrow left" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                <path
                                    d="M-3.57628e-07 18C-3.57628e-07 8.05887 8.05887 -3.57628e-07 18 -3.57628e-07C27.9411 -3.57628e-07 36 8.05887 36 18C36 27.9411 27.9411 36 18 36C8.05887 36 -3.57628e-07 27.9411 -3.57628e-07 18Z"
                                    fill="#D9D9D9" />
                                <path d="M21.4071 9.42857L22.9286 10.95L15.8786 18L22.9286 25.05L21.4071 26.5714L12.8357 18L21.4071 9.42857Z"
                                    fill="#1C1B1F" />
                            </svg>
                            <svg onclick="imageForward('{{ img }}')" class="arrow right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                <path
                                    d="M36 18C36 8.05887 27.9411 -3.57628e-07 18 -3.57628e-07C8.05887 -3.57628e-07 0 8.05887 0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18Z"
                                    fill="#D9D9D9" />
                                <path d="M14.5929 9.42857L13.0714 10.95L20.1214 18L13.0714 25.05L14.5929 26.5714L23.1643 18L14.5929 9.42857Z"
                                    fill="#1C1B1F" />
                            </svg>
                            <img src="{{ url_for('static', filename='img/products/'+product.id|string+'/'+img) }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    <div id="addImage" class="add" onclick="triggerInput()">
                        <div class="plus">
                            +
                        </div>
                        <input type="file" id="inputImage" style="display: none;" onchange="addImg()">
                    </div>
                </div>
                <h4>{{ _('Caption') }}</h4>
                <p id="instagramCaption"></p>
            </div>
        </div>
        <div class="row buttons">
            <button id="buttonUpdateProduct" onclick="updateProduct()">{% if pageType == 'edit' %}{{ _('Update') }}{% else %}{{ _('Add') }}{% endif %} {{ _('product') }}</button>
            <button id="buttonArchiveProduct" onclick="{% if 'archived' in product['tags'] %}un{% endif %}archiveProduct()">{% if 'archived' in product['tags'] %}{{ _('Unarchive') }}{% else %}{{ _('Archive') }}{% endif %} {{ _('product') }}</button>
        </div>
    </section>
    <svg id="deleteIcon" class="arrow delete" xmlns="http://www.w3.org/2000/svg" width="36" height="35"
        viewBox="0 0 36 35" fill="none">
        <path
            d="M36 17.5C36 27.165 27.9411 35 18 35C8.05887 35 0 27.165 0 17.5C0 7.83502 8.05887 0 18 0C27.9411 0 36 7.83502 36 17.5Z"
            fill="#E0E0E0" />
        <path
            d="M12.7681 28.3332C12.1885 28.3332 11.6924 28.1338 11.2797 27.7349C10.867 27.3359 10.6607 26.8564 10.6607 26.2962V13.0555H9.60697V11.0184H14.8755V9.9999H21.1976V11.0184H26.4661V13.0555H25.4124V26.2962C25.4124 26.8564 25.2061 27.3359 24.7934 27.7349C24.3807 28.1338 23.8846 28.3332 23.305 28.3332H12.7681ZM23.305 13.0555H12.7681V26.2962H23.305V13.0555ZM14.8755 24.2592H16.9829V15.0925H14.8755V24.2592ZM19.0903 24.2592H21.1976V15.0925H19.0903V24.2592Z"
            fill="#1C1B1F" />
    </svg>
    <svg id="backIcon" class="arrow left" xmlns="http://www.w3.org/2000/svg" width="36" height="36"
        viewBox="0 0 36 36" fill="none">
        <path
            d="M-3.57628e-07 18C-3.57628e-07 8.05887 8.05887 -3.57628e-07 18 -3.57628e-07C27.9411 -3.57628e-07 36 8.05887 36 18C36 27.9411 27.9411 36 18 36C8.05887 36 -3.57628e-07 27.9411 -3.57628e-07 18Z"
            fill="#D9D9D9" />
        <path d="M21.4071 9.42857L22.9286 10.95L15.8786 18L22.9286 25.05L21.4071 26.5714L12.8357 18L21.4071 9.42857Z"
            fill="#1C1B1F" />
    </svg>
    <svg id="forwardIcon" class="arrow right" xmlns="http://www.w3.org/2000/svg" width="36"
        height="36" viewBox="0 0 36 36" fill="none">
        <path
            d="M36 18C36 8.05887 27.9411 -3.57628e-07 18 -3.57628e-07C8.05887 -3.57628e-07 0 8.05887 0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18Z"
            fill="#D9D9D9" />
        <path d="M14.5929 9.42857L13.0714 10.95L20.1214 18L13.0714 25.05L14.5929 26.5714L23.1643 18L14.5929 9.42857Z"
            fill="#1C1B1F" />
    </svg>
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script>
        const images = {{ product.images | tojson }};
        const productId = {{ product.id }};
    </script>
</body>
</html>