<!DOCTYPE html>
<html lang="{{ get_locale() }}">
{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    <section id="adminProduct">
        <h2>Add product</h2>
        <a class="back" href="/admin">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21" fill="none">
                <path
                    d="M10.1911 1.74921e-06L12 1.86375L3.61783 10.5L12 19.1362L10.1911 21L-9.8941e-07 10.5L10.1911 1.74921e-06Z"
                    fill="#E352BA" />
            </svg>
            Back
        </a>
        <div class="row">
            <div class="col">
                <h4>Information</h4>
                <div class="input">
                    <label for="inputProductId">Product id</label>
                    <input type="number" value="{{ newId }}" disabled>
                </div>
                <div class="input">
                    <label for="inputCategory">Category</label>
                    <input id="inputCategory" type="text" placeholder="Sandals">
                </div>
                <div class="input">
                    <label for="inputBrand">Brand</label>
                    <input id="inputBrand" type="text" placeholder="Geox">
                </div>
                <div class="input">
                    <label for="inputPrice">Price</label>
                    <input id="inputPrice" type="text" placeholder="2999">
                </div>
                <div class="input">
                    <label for="inputSizes">Sizes</label>
                    <input id="inputSizes" type="text" placeholder="33, 34, 35">
                </div>
                <div class="input">
                    <label for="inputSeason">Season</label>
                    <input id="inputSeason" type="text" placeholder="Summer/Autumn">
                </div>
                <div class="input">
                    <label for="inputMaterialOuter">Outer material</label>
                    <input id="inputMaterialOuter" type="text" placeholder="Leather">
                </div>
                <div class="input">
                    <label for="inputMaterialInner">Inner material</label>
                    <input id="inputMaterialInner" type="text" placeholder="Fur">
                </div>
                <div class="input">
                    <label for="inputMaterialInsole">Insole material</label>
                    <input id="inputMaterialInsole" type="text" placeholder="Leather">
                </div>
                <div class="input">
                    <label for="inputInsoleLengths">Insole lengths</label>
                    <input id="inputInsoleLengths" type="text" placeholder="33 (20.5 cm), 34 (21 cm), 35 (21.5 cm)">
                </div>
                <div class="input">
                    <label for="inputQuantitiesLeft">Quantities</label>
                    <input id="inputQuantitiesLeft" type="text" placeholder="33 (1), 34 (2), 35 (2)">
                </div>
                <div class="input">
                    <label for="inputWarehouses">Warehouses</label>
                    <input id="inputWarehouses" type="text" placeholder="33 (Kyiv), 34 (Ternopil), 35 (Odesa)">
                </div>
            </div>
            <div class="col">
                <h4>Images</h4>
                <div class="images" id="images">
                    <div id="addImage" class="add" onclick="triggerInput()">
                        <div class="plus">
                            +
                        </div>
                        <input type="file" id="inputImage" style="display: none;" onchange="addImg()">
                    </div>
                </div>
            </div>
        </div>
        <button id="buttonUpdateProduct" onclick="updateProduct()">Add product</button>
    </section>
    <svg id="deleteIcon" class="arrow delete" xmlns="http://www.w3.org/2000/svg" width="36" height="35"
        viewBox="0 0 36 35" fill="none">
        <path
            d="M36 17.5C36 27.165 27.9411 35 18 35C8.05887 35 0 27.165 0 17.5C0 7.83502 8.05887 0 18 0C27.9411 0 36 7.83502 36 17.5Z"
            fill="#E0E0E0" />
        <path
            d="M12.7681 28.3332C12.1885 28.3332 11.6924 28.1338 11.2797 27.7349C10.867 27.3359 10.6607 26.8564 10.6607 26.2962V13.0555H9.60697V11.0184H14.8755V9.9999H21.1976V11.0184H26.4661V13.0555H25.4124V26.2962C25.4124 26.8564 25.2061 27.3359 24.7934 27.7349C24.3807 28.1338 23.8846 28.3332 23.305 28.3332H12.7681ZM23.305 13.0555H12.7681V26.2962H23.305V13.0555ZM14.8755 24.2592H16.9829V15.0925H14.8755V24.2592ZM19.0903 24.2592H21.1976V15.0925H19.0903V24.2592Z"
            fill="#1C1B1F" />
    </svg>
    <svg id="backIcon" class="arrow left" xmlns="http://www.w3.org/2000/svg" width="36" height="36"
        viewBox="0 0 36 36" fill="none">
        <path
            d="M-3.57628e-07 18C-3.57628e-07 8.05887 8.05887 -3.57628e-07 18 -3.57628e-07C27.9411 -3.57628e-07 36 8.05887 36 18C36 27.9411 27.9411 36 18 36C8.05887 36 -3.57628e-07 27.9411 -3.57628e-07 18Z"
            fill="#D9D9D9" />
        <path d="M21.4071 9.42857L22.9286 10.95L15.8786 18L22.9286 25.05L21.4071 26.5714L12.8357 18L21.4071 9.42857Z"
            fill="#1C1B1F" />
    </svg>
    <svg id="forwardIcon" class="arrow right" xmlns="http://www.w3.org/2000/svg" width="36"
        height="36" viewBox="0 0 36 36" fill="none">
        <path
            d="M36 18C36 8.05887 27.9411 -3.57628e-07 18 -3.57628e-07C8.05887 -3.57628e-07 0 8.05887 0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18Z"
            fill="#D9D9D9" />
        <path d="M14.5929 9.42857L13.0714 10.95L20.1214 18L13.0714 25.05L14.5929 26.5714L23.1643 18L14.5929 9.42857Z"
            fill="#1C1B1F" />
    </svg>
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script>
        const productId = {{ newId }};
    </script>
</body>
</html>