<!DOCTYPE html>
<html lang="{{ get_locale() }}" class="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="admin">
        <h2>{{ _('Control Panel') }}</h2>
        <div class="group">
            <h4>{{ _('Activity') }}</h4>
            <div class="data">
                <div class="row">
                    <div class="col">
                        <p>{{ _('Requests today') }}: {{ requestsToday }}</p>
                        <p>{{ _('Unique visits today') }}: {{ uniqueVisitsToday }}</p>
                    </div>
                    <div class="col">
                        <p>{{ _('Average daily requests') }}: {{ averageDailyRequests }}</p>
                        <p>{{ _('Average unique visits') }}: {{ averageDailyUniqueVisits }}</p>
                    </div>
                </div>
                <div class="chart">
                    <h4>{{ _('Daily requests') }}:</h4>
                    <canvas id="requestsChart" height="400"></canvas>
                </div>
                <a href="/admin/activity">{{ _('View more') }}</a>
            </div>
        </div><div class="group">
            <h4>{{ _('Products') }}</h4>
            <div class="data">
                <div class="row">
                    <div class="col">
                        <p>{{ _('Items on site') }}: {{ totalProducts }}</p>
                        <p>{{ _('Most popular category') }}: Sandals</p>
                    </div>
                    <div class="col">
                        <p>{{ _('In stock') }}: {{ inStock }}</p>
                        <p>{{ _('Most common size') }}: 27</p>
                    </div>
                </div>
                <div class="row">
                    <a href="/admin/products">{{ _('View products') }}</a>
                    <a href="/admin/products/add">{{ _('Add product') }}</a>
                </div>
            </div>
        </div>
        <div class="group">
            <h4>{{ _('Orders') }}</h4>
            <div class="data">
                <div class="row">
                    <div class="col">
                        <p>{{ _('Total') }}: {{ ordersTotal }}</p>
                        <p>{{ _('Pending') }}: {{ ordersPending }}</p>
                    </div>
                    <div class="col">
                        <p>{{ _('Today') }}: {{ ordersToday }}</p>
                        <p>{{ _('Average') }}: {{ ordersDailyAverage }}</p>
                    </div>
                </div>
                <div class="row">
                    <a href="/admin/orders">{{ _('View orders') }}</a>
                    <a href="/admin/orders?orderStatus=pending">{{ _('View pending') }}</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const dailyRequests = {{ dailyRequests | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/adminCharts.js') }}"></script>
</body>
</html>