<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="checkout">
        <h2>Checkout</h2>
        <a href="/cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21" fill="none">
                <path d="M10.1911 1.74921e-06L12 1.86375L3.61783 10.5L12 19.1362L10.1911 21L-9.8941e-07 10.5L10.1911 1.74921e-06Z"
                    fill="#E352BA" />
            </svg>
            Back
        </a>
        <div class="shipping-toggle">
            <svg class="toggle active" xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
                <path d="M33 16.9761L30.0712 19.9905L16.5 6.02256L2.92875 19.9905L3.59519e-08 16.9761L16.5 -0.00613956L33 16.9761Z"
                    fill="#111111" />
            </svg>
            <h4>1. Shipping</h4>
        </div>
        <div class="shipping">
            <div class="inputs">
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <select onchange="selectCountry()" name="country" id="input-country">
                    {% for country in delivery_countries %}
                        <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                <select onchange="selectCity()" name="city" id="input-city">
                    <select name="city-{{ delivery_countries[0] }}" id="input-city-{{ delivery_countries[0] }}">
                        {% for city in delivery_cities[delivery_countries[0]] %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                    {% for country in delivery_countries[1:] %}
                        <select disabled style="display: none;" name="city-{{ country }}" id="input-city-{{ country }}">
                            {% for city in delivery_cities[country] %}
                                <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                </select>
                <select onchange="selectDeliveryMethod()" name="delivery-method" id="input-delivery-method">
                    <option value="address-delivery">Address Delivery</option>
                    <option value="pick-up-from-post-office">Pick up from Post Office</option>
                </select>
                <select name="post-office-branch" id="input-post-office-branch-{{ delivery_countries[0] }}-{{ delivery_cities[delivery_countries[0]][0] }}">
                    {% for branch in post_office_branches[delivery_countries[0]][delivery_cities[delivery_countries[0]][0] %}
                        <option value="{{ branch }}">{{ branch }}</option>
                    {% endfor %}
                </select>
                {% for country in delivery_countries %}
                    {% for city in delivery_cities[country] %}
                        <select disabled style="display: none;" name="post-office-branch-{{ country }}-{{ city }}" id="input-post-office-branch-{{ country }}-{{ city }}">
                            {% for branch in post_office_branches[country][city] %}
                                <option value="{{ branch }}">{{ branch }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>