<!DOCTYPE html>
<html lang="{{ get_locale() }}" class="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="checkout">
        <h2>Checkout</h2>
        <a class="back" href="/cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21" fill="none">
                <path d="M10.1911 1.74921e-06L12 1.86375L3.61783 10.5L12 19.1362L10.1911 21L-9.8941e-07 10.5L10.1911 1.74921e-06Z"
                    fill="#E352BA" />
            </svg>
            Back
        </a>
        <div class="toggle" onclick="toggleForm('Shipping')">
            <svg id="toggleShipping" xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
                <path
                    d="M-1.31784e-07 3.01486L2.92875 -1.31446e-06L16.5 13.9703L30.0712 -1.2802e-07L33 3.01486L16.5 20L-1.31784e-07 3.01486Z"
                    fill="#111111"></path>
            </svg>
            <h4>1. Shipping</h4>
        </div>
        <div id="formShipping" class="shipping">
            <div class="inputs">
                <input type="text" id="inputFirstName" placeholder="First name" value="{{ shippingData.firstName }}">
                <input type="text" id="inputMiddleName" placeholder="Middle name" value="{{ shippingData.middleName }}">
                <input type="text" id="inputLastName" placeholder="Last name" value="{{ shippingData.lastName }}">
                <div class="select">
                    <select onchange="selectCountry()" name="country" id="inputCountry">
                        <option value="" disabled {% if not shippingData.country %} selected {% endif %}>Select country</option>

                        {% for country in deliveryCountries %}
                            {% if country != shippingData.country %}
                                <option value="{{ country }}">{{ codesCountry[country] | capitalize }}</option>
                            {% else %}
                                <option value="{{ country }}" selected>{{ codesCountry[country] | capitalize }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <div class="select">
                    <select onchange="selectCity()" name="city" id="inputCity">
                        <option value="" disabled selected>Select city</option>
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <div class="select">
                    <select onchange="selectDeliveryMethod()" name="deliveryMethod" id="inputDeliveryMethod">
                        <option value="pickUpFromPostOffice" {% if shippingData.deliveryMethod != "addressDelivery" %}selected {% endif %}>Pick up from Post Office</option>
                        <option value="addressDelivery" {% if shippingData.deliveryMethod == "addressDelivery" %}selected {% endif %}>Address Delivery</option>
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <div class="select {% if shippingData.deliveryMethod == "addressDelivery" %}disabled{% endif %}" id="wrapperInputPostOfficeBranch">
                    <select name="postOfficeBranch" id="inputPostOfficeBranch">
                        {% if not shippingData.postOfficeBranch %}
                            <option value="" disabled selected>Select post office branch</option>
                        {% else %}
                            <option value="" disabled>Select post office branch</option>
                            <option selected value="{{ shippingData.postOfficeBranch }}">{{ shippingData.postOfficeBranch | capitalize }}</option>
                        {% endif %}
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <input class="disabled" type="text" id="inputPostOfficeBranchNoselect" placeholder="Post Office Branch">
                <input class="{% if shippingData.deliveryMethod != "addressDelivery" %}disabled{% endif %}" type="text" id="inputAddress" placeholder="Street Address" value="{{ shippingData.address }}">
                <input class="{% if shippingData.deliveryMethod != "addressDelivery" %}disabled{% endif %}" type="text" id="inputAddress-2" placeholder="Apartment, Building, Floor, etc. (Optional)" value="{{ shippingData.address2 }}">
                <input class="{% if shippingData.deliveryMethod != "addressDelivery" %}disabled{% endif %}" type="text" name="postalCode" id="inputPostalCode" placeholder="ZIP/Postal Code" value="{{ shippingData.postalCode }}">
                <div class="checkbox">
                    <div class="box" onclick="checkSaveshippingData()">
                        <svg id="inputCheckShipping" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24" fill="none">
                            <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z" fill="#F1F1F1" />
                        </svg>
                    </div>
                    <p>Save this data for fast checkout</p>
                </div>
            </div>
            <p class="side">If you need your order to be shipped within Ukraine, it is possible to choose between Pick Up from Post Office or Address Delivery, in European countries only Pick Up from Post Office option is available. <br>Address Delivery costs more than Pick Up from Post Office.<br><br>Approximate delivery prices: <br>Within Ukraine - pick up from post office: 80 uah / 110 uah (city / village); address devliery: 110 uah / 140 uah (city / village)<br>Outside Ukraine - pick up from post office: 400-600 uah</p>
        </div>

        <div class="toggle" onclick="toggleForm('Payment')">
            <svg id="togglePayment" xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
                <path
                    d="M-1.31784e-07 3.01486L2.92875 -1.31446e-06L16.5 13.9703L30.0712 -1.2802e-07L33 3.01486L16.5 20L-1.31784e-07 3.01486Z"
                    fill="#111111"></path>
            </svg>
            <h4>2. Payment</h4>
        </div>
        <div id="formPayment" class="payment">
            <div class="inputs">
                <div class="select">
                    <select name="paymentMethod" id="inputPaymentMethod">
                        <option value="" {% if not paymentData.paymentMethod %} selected {% endif %} disabled>Payment method</option>
                        <option {% if paymentData.paymentMethod=="fullPrepayment" %} selected {% endif %} value="fullPrepayment">Full Prepayment</option>
                        <option {% if paymentData.paymentMethod=="postPayment" %} selected {% endif %} value="postPayment">Post Payment</option>
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <!-- <input type="text" id="inputCardNumber" placeholder="Card Number"> -->
                <!-- <input type="text" id="inputExpirationDate" placeholder="Expiration Date"> -->
                <!-- <input type="text" id="inputCvv" placeholder="CVV"> -->
                <input type="text" id="inputPromoCode" placeholder="Promo Code (Optional)">
                <div class="checkbox">
                    <div class="box" onclick="checkSavepaymentData()">
                        <svg id="inputCheckPayment" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24" fill="none">
                            <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z"
                                fill="#F1F1F1" />
                        </svg>
                    </div>
                    <p>Save this data for fast checkout</p>
                </div>
            </div>
            <p class="side">There are two payment options: <br>
            1st is full prepayment - you pay full sum and afterwards receive the product. <br>
            2nd is post payment - before receiving the product you only pay for delivery and upon receiving it you pay the rest.</p>
        </div>

        <!-- contact info -->
        <div class="toggle" onclick="toggleForm('Contact')">
            <svg id="toggleContact" xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
                <path
                    d="M-1.31784e-07 3.01486L2.92875 -1.31446e-06L16.5 13.9703L30.0712 -1.2802e-07L33 3.01486L16.5 20L-1.31784e-07 3.01486Z"
                    fill="#111111"></path>
            </svg>
            <h4>3. Contact information</h4>
        </div>
        <div id="formContact" class="contact">
            <div class="inputs">
                <div class="select">
                    <select onchange="selectMessenger()" name="messenger" id="inputContactMessenger">
                        <option value="telegram" {% if not contactData.contactMessenger or contactData.contactMessenger == "telegram" %} selected {% endif %}>Telegram</option>
                        <option {% if contactData.contactMessenger == "instagram" %} selected {% endif %} value="instagram">Instagram</option>
                        <option {% if contactData.contactMessenger == "viber" %} selected {% endif %} value="viber">Viber</option>
                    </select>
                    <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                        <path
                            d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                            fill="#F1F1F1" />
                    </svg>
                </div>
                <input {% if contactData.contactMessenger == "instagram" %}class="disabled"{% endif %} oninput="phoneInput()" type="text" id="inputPhoneNumber" placeholder="Phone number" value="{% if not contactData.phoneNumber %}{{ userData['phoneNumber'] }}{% else %}{{ contactData.phoneNumber }}{% endif %}">
                <input {% if contactData.contactMessenger != "instagram" %}class="disabled"{% endif %} type="text" id="inputUsername" placeholder="Your @username" value="{{ contactData.username }}">

                <div class="checkbox">
                    <div class="box" onclick="checkSavecontactData()">
                        <svg id="inputCheckContact" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24" fill="none">
                            <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z"
                                fill="#F1F1F1" />
                        </svg>
                    </div>
                    <p>Save this data for fast checkout</p>
                </div>
            </div>
            <p class="side">As soon as your order will be processed, we will contact you in the messenger of your choice informing you about the status of the order as well as giving you an option to pay.</p>
        </div>

        <!-- final order review -->
         <div class="toggle" onclick="toggleForm('Review')">
            <svg id="toggleReview" xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
                <path
                    d="M-1.31784e-07 3.01486L2.92875 -1.31446e-06L16.5 13.9703L30.0712 -1.2802e-07L33 3.01486L16.5 20L-1.31784e-07 3.01486Z"
                    fill="#111111"></path>
            </svg>
            <h4>4. Final order review</h4>
         </div>
         <div id="formReview" class="review">
            <div class="cartItems">
                {% for item in cartItems %}
                {% set sortedSizes = item.info.sizes | sort %}
                <div class="card">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/products/'+item.id|string+'/'+item.info.img) }}" alt="">
                    </div>
                    <div class="data">
                        <div class="row">
                            <div class="col start" id="card{{ item.id }}">
                                <h4>{{ item.info.category }} {{ item.info.brand }}</h4>
                            </div>
                            <div class="col">
                                <p>Product number: {{ item.id }}</p>
                                <p class="infoSize">Size: {{ item.size }}</p>
                            </div>
                            <div class="col end">
                                <p>Price: {{ item.info.price }} uah</p>
                                <p class="infoQuantity">Quantity: {{ item.quantity }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="orderinfo">
                <h4>Subtotal: <span id="subtotal">{{ subtotal }}</span> uah</h4>
                <h4>Discount: <span id="discount">0</span> uah</h4>
                <h4>Delivery (approx.): <span id="delivery">0</span> uah</h4>
                <h4>Total: <span id="total">{{ subtotal }}</span> uah</h4>
            </div>
         </div>

        <button id="buttonCheckout" onclick="checkout()">Place order</button>
    </section>
    <section id="featured" class="product">
        {% if cartItems %}
        <h2>You might also like</h2>
        {% else %}
        <h2>Featured products</h2>
        {% endif %}
        <div class="products">
            {% for product in productsFeatured %}
            {% include 'partials/card.html' %}
            {% endfor %}
        </div>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
    <script>
        const deliveryCountries = {{ deliveryCountries | tojson }};
        const countryCodes = {{ countryCodes | tojson }};
        const codesCountry = {{ codesCountry | tojson }};
        const cart = {{ cartItems | tojson }};
        updateShippingPrice();
        
        const default_city = '{{ shippingData.city }}';
        const default_branch = '{{ shippingData.postOfficeBranch }}';

        const deliveryCities = {{ deliveryCities | tojson }};
        selectCountry();
        selectCity();
        selectDeliveryMethod();
    </script>
</body>
</html>