<!DOCTYPE html>
<html lang="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="faq">
        <h2>{{ _('FAQ') }}</h2>
        <div class="posts">
            {% for post in faqPosts %}
                <div class="card">
                    <div>
                        <a href="/faq/{{ post['name'] }}"><img src="{{ post['img'] }}" alt=""></a>
                        <h3>{{ post['title'] }}</h3>
                        <p>{{ post['content'] }}</p>
                    </div>
                    <a href="/faq/{{ post['name'] }}" class="button">{{ _('Read on') }}</a>
                </div>
            {% endfor %}
        </div>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>