<section id="footer">
    <div class="col">
        <h3>Information</h3>
        <a href="/faq/shoesize">How to select the right shoe size</a>
        <a href="/faq/delivery">Delivery information</a>
        <a href="/faq/replacementsandreturns">Replacements and returns</a>
    </div>
    <div class="col">
        <h3>Legal</h3>
        <a href="/termsofuse">Terms of use</a>
        <a href="/privacypolicy">Privacy policy</a>
        <a href="/cookiespolicy">Cookies policy</a>
        <a href="/shippingpolicy">Shipping policy</a>
        <a href="/replacementsandreturnspolicy">Replacements and returns policy</a>
    </div>
    <div class="col">
        <h3>Contact us</h3>
        <p>Phone number:</p>
        <a href="tel:+380699015867">+380 69 901 5867</a>
        <p>Email:</p>
        <a href="mailto:contact@kidsfashionstore.ua">contact@kidsfashionstore.ua</a>
    </div>
    <div class="col">
        <h3>Our social media</h3>
        <p>Telegram:</p>
        <a href="https://t.me/kidsfashionstore" target="_blank">@kidsfashionstore</a>
        <p>Instagram:</p>
        <a href="https://instagram.com/kidsfashionstore" target="_blank">@kidsfashionstore</a>
    </div>
</section>