<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="hero">
        {% for group in indexImages %}
            <div class="imagecol">
                {% for image in group %}
                    <div class="img" style="backgroundImage: url('../static/img/covers/{{ image }}')"></div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="textWrapper">
            <div class="text">
                <h2>The biggest variety of brand shoes in Ukraine</h2>
            </div>
        </div>
        <div class="shadow top"></div>
        <div class="shadow bottom"></div>
    </section>
    <section id="featured">
        <h2>Featured</h2>
        <div class="products">
            {% for product in productsFeatured %}
                {% include 'partials/card.html' %}
            {% endfor %}
        </div>
    </section>
    <section class="banner" id="toShop">
        <div class="content">
            <h2>Find a perfect pair of shoes for your child</h2>
            <h3>Choose among popular brands, like Ecco, Geox, and Superfit</h3>
            <a href="/shop">Visit shop</a>
        </div>
        <div class="img">
            <img src="../static/img/shopping.png" alt="">
        </div>
    </section>
    <section id="sale">
        <h2>Summer sale</h2>
        <div class="products">
            {% for product in productsSale %}
                {% include 'partials/card.html' %}
            {% endfor %}
        </div>
        <a href="/shop" class="viewMore">View more</a>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>