<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
    {% include 'header.html' %}
    <section id="legal-page" class="nolists">
        <h2>Privacy Policy</h2>
        <h4>Effective Date: 14 July 2024</h4>
        <p>Kids Fashion Store ("we," "our," "us") respects your privacy and is committed to protecting your personal information. This Privacy Policy describes how we collect, use, and safeguard your information when you visit our website, <a href="/">https://kidsfashionstore.ua</a> (the "Site"), and any related services (collectively, the "Services"). By using the Site,you agree to the collection and use of information in accordance with this Privacy Policy.</p>
        <h4>1. Information We Collect</h4>
        <p class="no-margin">We may collect the following types of information when you visit or use our Site:</p>
        <ul>
            <li>Personal Information: Information that can be used to identify you personally, such as your name, email address,shipping
            address, billing address, phone number, and payment information.</li>
            <li>Usage Data: Information about how you use the Site, including your IP address, browser type, browsing history, and
            pagesviewed.</li>
        </ul>
        <h4>2. How We Use Your Information</h4>
        <p class="no-margin">We use the information we collect for the following purposes:</p>
        <ul>
            <li>To Process Transactions: We use your personal information to process orders, manage payments, and deliver products andservices.</li>
            <li>To Improve Our Services: We use usage data to understand how our Site is used, identify issues, and make improvements.</li>
            <li>To Communicate with You: We use your personal information to send order confirmations, updates, and other communicationsrelated to your transactions or our Services.</li>
            <li>To Provide Customer Support: We use your personal information to respond to your inquiries and provide support.</li>
        </ul>
        <h4>3. How We Protect Your Information</h4>
        <p class="no-margin">We implement a variety of security measures to maintain the safety of your personal information, including:</p>
        <ul>
            <li>Encryption: We use secure socket layer (SSL) technology to encrypt your personal information during transmission.</li>
            <li>Access Controls: We limit access to your personal information to authorized employees and contractors who need to
            know that information in order to process it.</li>
        </ul>
        <h4>4. Cookies and Tracking Technologies</h4>
        <p>We use cookies and similar tracking technologies to enhance your experience on our Site. Cookies are small data filesthat are placed on your device when you visit a website. You can set your browser to refuse cookies or to alert you whencookies are being sent. However, if you disable cookies, some parts of the Site may not function properly.</p>
        <h4>5. Children's Privacy</h4>
        <p>Our Site is not intended for use by children under the age of 13. We do not knowingly collect personal information fromchildren under 13. If we become aware that we have inadvertently received personal information from a child under theage of 13, we will delete such information from our records.</p>
        <h4>6. Your Rights</h4>
        <p class="no-margin">You have the following rights regarding your personal information:</p>
        <ul class="no-margin">
            <li>Access: You have the right to request a copy of the personal information we hold about you.</li>
            <li>Correction: You have the right to request that we correct any inaccuracies in your personal information.</li>
            <li>Deletion: You have the right to request that we delete your personal information, subject to certain exceptions.</li>
            <li>Objection: You have the right to object to the processing of your personal information in certain circumstances.</li>
            <li>Withdrawal of Consent: If you have provided consent for the processing of your personal information, you have the right to withdraw your consent at any time.</li>
        </ul>
        <p>To exercise any of these rights, please contact us at <a href="mailto:contact@kidsfashionstore.ua">contact@kidsfashionstore.ua</a> or <a href="tel:+380689016787">+380 68 901 6787</a></p>
        <h4>7. Changes to This Privacy Policy</h4>
        <p>We may update this Privacy Policy from time to time. Any changes will be effective immediately upon posting on the Site.Your continued use of the Site following the posting of revised Privacy Policy means that you accept and agree to thechanges.</p>
        <h4>8. Contact Us</h4>
        <p class="no-margin">If you have any questions about this Privacy Policy, please contact us at:</p>
        <ul>
            <li>Email: <a href="mailto:contact@kidsfashionstore.ua">contact@kidsfashionstore.ua</a></li>
            <li>Phone: <a href="tel:+380689016787">+380 68 901 6787</a></li>
        </ul>
    </section>
    {% include 'newsletter.html' %}
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>

</html>