<!DOCTYPE html>
<html lang="{{ get_locale() }}" class="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="legalPage" class="nolists">
        <h2>{{ page.title[get_locale()] }}</h2>
        {% for line in page.page %}
            {% if line.type == 'title' %}
                <h4 {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ line[get_locale()] }}</h4>
            {% elif line.type == 'paragraph' %}
                <p {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ line[get_locale()] | safe }}</p>
            {% elif line.type == 'list' %}
                <ul {% if 'class' in line %}class="{{ line.class }}"{% endif %}>
                    {% for item in line[get_locale()] %}
                        <li {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ item | safe }}</li>
                    {% endfor %}
                </ul>
            {% elif line.type == 'img' %}
                <img {% if 'class' in line %}class="{{ line.class }}"{% endif %} src="{{ url_for('static', filename=line.src) }}" alt="">
            {% elif line.type == 'row' %}
                <div class="row">
                    {% for rowItem in line.content %}
                        {% if rowItem.type == 'title' %}
                            <h4 {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ rowItem[get_locale()] }}</h4>
                        {% elif rowItem.type == 'paragraph' %}
                            <p {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ rowItem[get_locale()] | safe }}</p>
                        {% elif rowItem.type == 'list' %}
                            <ul {% if 'class' in line %}class="{{ line.class }}"{% endif %}>
                                {% for item in rowItem[get_locale()] %}
                                    <li {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ item | safe }}</li>
                                {% endfor %}
                            </ul>
                        {% elif rowItem.type == 'img' %}
                            <img {% if 'class' in line %}class="{{ line.class }}"{% endif %} src="{{ url_for('static', filename=rowItem.src) }}" alt="">
                        {% elif rowItem.type == 'col' %}
                            <div class="col">
                                {% for colItem in rowItem.content %}
                                    {% if colItem.type == 'title' %}
                                        <h4 {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ colItem[get_locale()] }}</h4>
                                    {% elif colItem.type == 'paragraph' %}
                                        <p {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ colItem[get_locale()] | safe }}</p>
                                    {% elif colItem.type == 'list' %}
                                        <ul {% if 'class' in line %}class="{{ line.class }}"{% endif %}>
                                            {% for item in colItem[get_locale()] %}
                                                <li {% if 'class' in line %}class="{{ line.class }}"{% endif %}>{{ item | safe }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% elif colItem.type == 'img' %}
                                        <img {% if 'class' in line %}class="{{ line.class }}"{% endif %} src="{{ url_for('static', filename=colItem.src) }}" alt="">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>