<!DOCTYPE html>
<html lang="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="page404">
        <h2>{{ _('You were unsubscribed') }}</h2>
        <h4>{{ _('We are sorry to see you go') }}</h4>
        <a href="/">{{ _('Go to homepage') }}</a>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>