<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="orders">
        <h2>Your orders</h2>
        <div class="orders">
            {% for order in orders %}
                {% for item in order.cart %}
                <div class="card">
                    <div class="img">
                        <a href="/orders/{{ order.orderId }}/{{ item.id }}">
                            <img src="{{ url_for('static', filename=item.info.img) }}" alt="">
                        </a>
                    </div>
                    <div class="data">
                        <div class="row">
                            <div class="col start" id="card{{ item.id }}">
                                <h4>{{ item.info.category }} {{ item.info.brand }}</h4>
                                <p class="infoSize">Size: {{ item.size }}</p>
                                <p class="infoQuantity">Quantity: {{ item.quantity }}</p>
                            </div>
                            <div class="col">
                                <p>Warehouse: {{ item.info.warehouse }}</p>
                                    <div class="row">
                                    <p>To: {{ order.city }}</p>
                                    {% if order.deliveryMethod == "pickUpFromPostOffice" %}
                                    <p>Branch: {{ order.postOfficeBranch }}</p>
                                    {% endif %}
                                </div>
                                {% if order.deliveryMethod == "pickUpFromPostOffice" %}
                                <p>Type: Pick up from Post Office</p>
                                {% else %}
                                <p>Type: Address Delivery</p>
                                {% endif %}
                            </div>
                            <div class="col">
                                <p>Product id: {{ item.id }}</p>
                                <p>Order id: {{ order.orderId }}</p>
                                <p>Status: {{ order.status | capitalize }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
    <section id="featured" class="product">
        <h2>You might also like</h2>
        <div class="products">
            {% for product in productsFeatured %}
            {% include 'partials/card.html' %}
            {% endfor %}
        </div>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
</body>
</html>