<!DOCTYPE html>
<html lang="{{ get_locale() }}">
{% include 'partials/head.html' %}
<body>
    {% include 'partials/header.html' %}
    <section id="settings">
        <h2>Account settings</h2>
        <div class="row">
            <div class="col col1">
                <div class="group">
                    <h4>Personal information</h4>
                    <div class="input">
                        <label for="inputFirstName">First Name</label>
                        <input placeholder="First name" name="firstName" type="text" id="inputFirstName" value="{{ userData['shippingData'].firstName }}">
                    </div>
                    <div class="input">
                        <label for="inputLastName">Last Name</label>
                        <input placeholder="Last name" name="lastName" type="text" id="inputLastName" value="{{ userData['shippingData'].lastName }}">
                    </div>
                    <div class="input">
                        <label for="inputMiddleName">Middle Name</label>
                        <input placeholder="Middle name" name="middleName" type="text" id="inputMiddleName" value="{{ userData['shippingData'].middleName }}">
                    </div>
                </div>
                <div class="group">
                    <h4>Contact information</h4>
                    <div class="input">
                        <label for="inputEmail">Email</label>
                        <input name="email" type="email" id="inputEmail" value="{{ userData.email }}">
                    </div>
                    <div class="input">
                        <label for="inputPhone">Phone number</label>
                        {% if userData['contactData'].phoneNumber %}
                            <input name="phoneNumber" onchange="phoneInput()" type="tel" id="inputPhoneNumber" value="{{ userData['contactData'].phoneNumber }}">
                        {% else %}
                            <input name="phoneNumber" onchange="phoneInput()" type="tel" id="inputPhoneNumber" value="{{ userData['phoneNumber'] }}">
                        {% endif %}
                    </div>
                    <div class="input">
                        <label for="inputMessenger">Preferred messenger</label>
                        <div class="select">
                            <select name="messenger" id="inputMessenger">
                                <option value="telegram" {% if userData['contactData'].contactMessenger == "telegram" %} selected {% endif %}>Telegram</option>
                                <option value="viber" {% if userData['contactData'].contactMessenger == "viber" %} selected {% endif %}>Viber</option>
                                <option value="instagram" {% if userData['contactData'].contactMessenger == "instagram" %} selected {% endif %}>Instagram</option>
                            </select>
                            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                                <path
                                    d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                    </div>
                    <div class="input">
                        <label for="inputMessengerUsername">Instagram username</label>
                        <input placeholder="@username" name="messengerUsername" type="text" id="inputMessengerUsername" value="{{ userData['contactData'].username }}">
                    </div>
                </div>
                <!-- <div class="group">
                    <h4>Shipping information</h4>
                    <div class="input">
                        <label for="inputCountry">Country</label>
                        <div class="select">
                            <select onchange="selectCountry()" name="country" id="inputCountry">
                                {% if not userData['shippingData'].country %}
                                    <option value="" disabled selected>Select country</option>
                                {% else %}
                                    <option value="" disabled>Select country</option>
                                    <option selected value="{{ userData['shippingData'].country }}">{{ codesCountry[userData['shippingData'].country] | capitalize }}
                                    </option>
                                {% endif %}
                            
                                {% for country in deliveryCountries %}
                                    {% if country != userData['shippingData'].country %}
                                        <option value="{{ country }}">{{ codesCountry[country] | capitalize }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                                <path
                                    d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                    </div>
                    <div class="input">
                        <label for="inputCity">City</label>
                        <div class="select">
                            <select name="city" onchange="selectCity()" id="inputCity">
                                {% if not userData['shippingData'].city %}
                                    <option value="" disabled selected>Select city</option>
                                {% else %}
                                    <option value="" disabled>Select city</option>
                                    <option selected value="{{ userData['shippingData'].city }}">{{ userData['shippingData'].city | capitalize }}
                                    </option>
                                {% endif %}
                            </select>
                            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                            <path
                                d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                                fill="#F1F1F1" />
                            </svg>
                        </div>
                    </div>
                    <div class="input">
                        <label for="inputDeliveryMethod">Delivery method</label>
                        <div class="select">
                            <select name="deliveryMethod" id="inputDeliveryMethod">
                                <option value="pickUpFromPostOffice" {% if userData['shippingData'].deliveryMethod !="addressDelivery" %}selected {% endif %}>Pick up from Post Office</option>
                                <option value="addressDelivery" {% if userData['shippingData'].deliveryMethod=="addressDelivery" %}selected {% endif %}>
                                    Address Delivery</option>
                            </select>
                            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                                <path
                                    d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                    </div>
                    <div id="wrapperInputPostOfficeBranch" class="input">
                        <label for="inputPostOfficeBranch">Post Office Branch</label>
                        <div class="select">
                            <select name="postOfficeBranch" id="inputPostOfficeBranch">
                                {% if not userData['shippingData'].postOfficeBranch %}
                                <option value="" disabled selected>Select post office branch</option>
                                {% else %}
                                <option value="" disabled>Select post office branch</option>
                                <option selected value="{{ userData['shippingData'].postOfficeBranch }}">{{ userData['shippingData'].postOfficeBranch | capitalize }}
                                </option>
                                {% endif %}
                            </select>
                            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none">
                                <path
                                    d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                        <input class="disabled" type="text" id="inputPostOfficeBranchNoselect" placeholder="Post Office Branch">
                    </div>
                    <div class="input">
                        <label for="inputAddress">Street Address</label>
                        <input placeholder="Street Address" name="address" type="text" id="inputAddress" value="{{ userData['shippingData'].address }}">
                    </div>
                    <div class="input">
                        <label for="inputAddress-2">Address line 2</label>
                        <input placeholder="Apartment, Building, Floor, etc. (Optional)" type="text" name="address2" id="inputAddress-2" value="{{ userData['shippingData'].address2 }}">
                    </div>
                    <div class="input">
                        <label for="inputPostalCode">ZIP/Postal Code</label>
                        <input placeholder="ZIP/Postal Code" type="text" name="postalCode" id="inputPostalCode" value="{{ userData['shippingData'].postalCode }}">
                    </div>
                </div>
                <div class="group">
                    <h4>Payment information</h4>
                    <div class="input">
                        <label for="inputPaymentMethod">Preferred payment method</label>
                        <div class="select">
                            <select name="paymentMethod" id="inputPaymentMethod">
                                <option value="" {% if not userData['paymentData'].paymentMethod %} selected {% endif %} disabled>Payment method</option>
                                <option {% if userData['paymentData'].paymentMethod=="fullPrepayment" %} selected {% endif %} value="fullPrepayment">Full Prepayment</option>
                                <option {% if userData['paymentData'].paymentMethod=="postPayment" %} selected {% endif %} value="postPayment">Post Payment</option>
                            </select>
                            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15"
                                fill="none">
                                <path
                                    d="M-9.22487e-08 2.13579L2.04125 0.0253897L11.5 9.80458L20.9587 0.0253905L23 2.13579L11.5 14.0254L-9.22487e-08 2.13579Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col col2">
                <div class="group">
                    <h4>Notification settings</h4>
                    <p>Inform me about...</p>
                    <div class="checkbox">
                        <div class="box" onclick="check('inputCheckNewDeals')">
                            <svg class="{% if not userData.notifications.newDeals %}disabled{% endif %}" id="inputCheckNewDeals" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24"
                                fill="none">
                                <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                        <p>New deals</p>
                    </div>
                    <div class="checkbox">
                        <div class="box" onclick="check('inputCheckSeasonalSales')">
                            <svg class="{% if not userData.notifications.seasonalSales %}disabled{% endif %}" id="inputCheckSeasonalSales" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24"
                                fill="none">
                                <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                        <p>Seasonal sales</p>
                    </div>
                    <div class="checkbox">
                        <div class="box" onclick="check('inputCheckDiscounts')">
                            <svg class="{% if not userData.notifications.discounts %}disabled{% endif %}" id="inputCheckDiscounts" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24"
                                fill="none">
                                <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                        <p>Discounts on my favorite products</p>
                    </div>
                    <!-- <div class="checkbox">
                        <div class="box" onclick="check('inputCheckPromoCode')">
                            <svg class="{% if not userData.notifications.promoCode %}disabled{% endif %}" id="inputCheckPromoCode" xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24"
                                fill="none">
                                <path d="M11.5399 24L0 12.6237L2.88497 9.77963L11.5399 18.3118L30.115 0L33 2.84407L11.5399 24Z"
                                    fill="#F1F1F1" />
                            </svg>
                        </div>
                        <p>People using my promo code</p>
                    </div> -->
                </div>
                <!-- <div class="group promo">
                    <h4>Promo code</h4>
                    <p>Your promo code is <span class="promoCode">{{ userData.promoCode }}</span></p>
                    <p>Have your friend apply this promo code at checkout and you will both get a one-time 1% discount! The more friends you bring, the bigger discount you will have on your next purchase.</p>
                    <p>Current accumulated discount: <b>{{ userData.discount }}%</b></p>
                </div> -->
            </div>
        </div>
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script>
        const deliveryCountries = {{ deliveryCountries | tojson }};
        const deliveryCities = {{ deliveryCities | tojson }};
        const codesCountry = {{ codesCountry | tojson }};
    </script>
</body>
</html>