<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    <section id="catalogue">
        <h2>Catalogue</h2>
        <div class="filtering">
            <div class="filter">
                <label for="brand">Brand</label>
                <select id="brand" name="brand" onchange="filterShoes('brand')">
                    <option value="Any" {% if not brand %} selected {% endif %}>Any</option>
                    <option value="Ecco" {% if brand=="Ecco" %} selected {% endif %}>Ecco</option>
                    <option value="Geox" {% if brand=="Geox" %} selected {% endif %}>Geox</option>
                    <option value="Superfit" {% if brand=="Superfit" %} selected {% endif %}>Superfit</option>
                </select>
                <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                    <path
                        d="M0.321533 2.1104L2.36278 -9.16136e-07L11.8215 9.77919L21.2803 -8.92259e-08L23.3215 2.1104L11.8215 14L0.321533 2.1104Z"
                        fill="#F1F1F1" />
                </svg>
            </div>
            <div class="filter">
                <label for="category">Category</label>
                <select id="category" name="category" onchange="filterShoes('category')">
                    <option value="Any" {% if not category %} selected {% endif %}>Any</option>
                    <option value="Sandals" {% if category=="Sandals" %} selected {% endif %}>Sandals</option>
                    <option value="Sneakers" {% if category=="Sneakers" %} selected {% endif %}>Sneakers</option>
                    <option value="DemiSeason" {% if category=="DemiSeason" %} selected {% endif %}>DemiSeason</option>
                    <option value="Boots" {% if category=="Boots" %} selected {% endif %}>Boots</option>
                </select>
                <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                    <path
                        d="M0.321533 2.1104L2.36278 -9.16136e-07L11.8215 9.77919L21.2803 -8.92259e-08L23.3215 2.1104L11.8215 14L0.321533 2.1104Z"
                        fill="#F1F1F1" />
                </svg>
            </div>
            <div class="filter">
                <label for="shoeSize">Shoe size</label>
                <select id="shoeSize" name="shoeSize" onchange="filterShoes('shoeSize')">
                    <option value="Any" {% if not shoeSize %} selected {% endif %}>Any</option>
                    <option value="18" {% if shoeSize=="18" %} selected {% endif %}>18</option>
                    <option value="19" {% if shoeSize=="19" %} selected {% endif %}>19</option>
                    <option value="20" {% if shoeSize=="20" %} selected {% endif %}>20</option>
                    <option value="21" {% if shoeSize=="21" %} selected {% endif %}>21</option>
                    <option value="22" {% if shoeSize=="22" %} selected {% endif %}>22</option>
                    <option value="23" {% if shoeSize=="23" %} selected {% endif %}>23</option>
                    <option value="24" {% if shoeSize=="24" %} selected {% endif %}>24</option>
                    <option value="25" {% if shoeSize=="25" %} selected {% endif %}>25</option>
                    <option value="26" {% if shoeSize=="26" %} selected {% endif %}>26</option>
                    <option value="27" {% if shoeSize=="27" %} selected {% endif %}>27</option>
                    <option value="28" {% if shoeSize=="28" %} selected {% endif %}>28</option>
                    <option value="29" {% if shoeSize=="29" %} selected {% endif %}>29</option>
                    <option value="30" {% if shoeSize=="30" %} selected {% endif %}>30</option>
                    <option value="31" {% if shoeSize=="31" %} selected {% endif %}>31</option>
                    <option value="32" {% if shoeSize=="32" %} selected {% endif %}>32</option>
                    <option value="33" {% if shoeSize=="33" %} selected {% endif %}>33</option>
                    <option value="34" {% if shoeSize=="34" %} selected {% endif %}>34</option>
                    <option value="35" {% if shoeSize=="35" %} selected {% endif %}>35</option>
                    <option value="36" {% if shoeSize=="36" %} selected {% endif %}>36</option>
                    <option value="37" {% if shoeSize=="37" %} selected {% endif %}>37</option>
                </select>
                <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                    <path
                        d="M0.321533 2.1104L2.36278 -9.16136e-07L11.8215 9.77919L21.2803 -8.92259e-08L23.3215 2.1104L11.8215 14L0.321533 2.1104Z"
                        fill="#F1F1F1" />
                </svg>
            </div>
            <div class="filter">
                <label for="priceRange">Price range</label>
                <select id="priceRange" name="priceRange" onchange="filterShoes('priceRange')">
                    <option value="Any" {% if not priceRange %} selected {% endif %}>Any</option>
                    <option value="0-500" {% if priceRange=="0-500" %} selected {% endif %}>0-500</option>
                    <option value="500-1000" {% if priceRange=="500-1000" %} selected {% endif %}>500-1000</option>
                    <option value="1000-1500" {% if priceRange=="1000-1500" %} selected {% endif %}>1000-1500</option>
                    <option value="1500-2000" {% if priceRange=="1500-2000" %} selected {% endif %}>1500-2000</option>
                    <option value="2000-2500" {% if priceRange=="2000-2500" %} selected {% endif %}>2000-2500</option>
                    <option value="2500-3000" {% if priceRange=="2500-3000" %} selected {% endif %}>2500-3000</option>
                    <option value="3000-3500" {% if priceRange=="3000-3500" %} selected {% endif %}>3000-3500</option>
                    <option value="3500-4000" {% if priceRange=="3500-4000" %} selected {% endif %}>3500-4000</option>
                    <option value="4000+" {% if priceRange=="4000+" %} selected {% endif %}>4000+</option>
                </select>
                <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                    <path
                        d="M0.321533 2.1104L2.36278 -9.16136e-07L11.8215 9.77919L21.2803 -8.92259e-08L23.3215 2.1104L11.8215 14L0.321533 2.1104Z"
                        fill="#F1F1F1" />
                </svg>
            </div>
            <div class="sort">
                <label for="sorting">Sort by</label>
                <select id="sorting" name="sorting" onchange="filterShoes('sorting')">
                    <option value="noSorting" {% if not sorting %} selected {% endif %}>No sorting</option>
                    <option value="priceLowToHigh" {% if sorting=="priceLowToHigh" %} selected {% endif %}>Price: low to high</option>
                    <option value="priceHighToLow" {% if sorting=="priceHighToLow" %} selected {% endif %}>Price: high to low</option>
                </select>
                <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                    <path
                        d="M0.321533 2.1104L2.36278 -9.16136e-07L11.8215 9.77919L21.2803 -8.92259e-08L23.3215 2.1104L11.8215 14L0.321533 2.1104Z"
                        fill="#F1F1F1" />
                </svg>
            </div>
        </div>
        {% if products %}
        <div class="products">
            {% for product in products %}
                {% include 'partials/card.html' %}
            {% endfor %}
        </div>
            {% if page == 1 and maxPages != 1 %} 
                <a onclick="loadMore()" class="viewMore">Show more</a>
            {% endif %}
        {% endif %}
        {% if products and maxPages != 1 %}
        <div class="pagination">
            <p>Page:
                {% if page != 1 %}
                    <a href="?{% for key, value in request.args.items() if key not in ['page', 'scroll'] %}{{ key }}={{ value }}&{% endfor %}page={{ page-1 }}" class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="23" viewBox="0 0 14 23" fill="none">
                            <path d="M11.8896 -1.84497e-07L14 2.04125L4.22081 11.5L14 20.9587L11.8896 23L5.16875e-08 11.5L11.8896 -1.84497e-07Z" fill="#111111"/>
                        </svg>
                    </a>
                    <a href="?{% for key, value in request.args.items() if key not in ['page', 'scroll'] %}{{ key }}={{ value }}&{% endfor %}">1</a>
                {% else %}
                    <span>1</span>
                {% endif %}
                {% if page > 3 %}
                    <span class="dots">...</span>
                {% endif %}
                {% for i in range(page-1, page+2) %}
                    {% if i > 1 and i < maxPages %}
                        {% if i == page %}
                            <span>{{ i }}</span>
                        {% else %}
                            <a href="?{% for key, value in request.args.items() if key not in ['page', 'scroll'] %}{{ key }}={{ value }}&{% endfor %}page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page < maxPages-2 %} 
                    <span class="dots">...</span>
                {% endif %}
                {% if page != maxPages %}
                    <a href="?{% for key, value in request.args.items() if key not in ['page', 'scroll'] %}{{ key }}={{ value }}&{% endfor %}page={{ maxPages }}">{{ maxPages }}</a>
                    <a href="?{% for key, value in request.args.items() if key not in ['page', 'scroll'] %}{{ key }}={{ value }}&{% endfor %}page={{ page+1 }}" class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="23" viewBox="0 0 14 23" fill="none">
                        <path d="M2.1104 23L0 20.9587L9.77919 11.5L0 2.04125L2.1104 0L14 11.5L2.1104 23Z" fill="#111111"/>
                    </svg>
                    </a>
                {% else %}
                    <span>{{ maxPages }}</span>
                {% endif %}
            </p>
        </div>
        {% endif %}
        {% if not products %}
            <h3 class="noProducts">No products found. Try to change filters.</h3>
        {% endif %}
    </section>
    {% include 'partials/newsletter.html' %}
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>