<!DOCTYPE html>
<html lang="{{ lang }}" class="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deviceWidth, initialScale=1.0">
    <title>{{ _('Contact Us Kids Fashion Store') }}</title>
</head>
<body>
    <div class="main" style="display: flex;flex-direction: column;justify-content: center;align-items: center;width: 100%;background-color: #eee;padding: 50px;">
        <div class="content" style="padding: 20px;background-color: #E0E0E0;text-align: center;border-radius: 20px;">
            <h1 style="font-family: 'Open Sans', sans-serif;font-size: 48px;font-weight: 400;color: #E352BA;width: 100%;margin-bottom: 20px;line-height: 1;">{{ _('New contact request') }}</h1>
            <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;color: #333;width: 100%;">{{ _('From') }}: {{ data.name }}</p>
            <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;color: #333;width: 100%;">{{ _('Email') }}: {{ data.email }}</p>
            <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;color: #333;width: 100%;">{{ _('Subject') }}: {{ data.subject }}</p>
            <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;color: #333;width: 100%;">{{ _('Message') }}: {{ data.message }}</p>
        </div>
    </div>
</body>
</html>