<!DOCTYPE html>
<html lang="{{ lang }}" class="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Fashion Store</title>
</head>
<body>
    <div class="main"
        style="display: flex;flex-direction: column;justify-content: center;align-items: center;width: 100%;background-color: #eee;padding: 50px;">
        <div class="content"
            style="padding: 20px;background-color: #E0E0E0;text-align: center;border-radius: 20px;display: flex;flex-direction: column;align-items: center;">
            <h1
                style="font-family: 'Open Sans', sans-serif;font-size: 48px;font-weight: 400;color: #E352BA;width: 100%;margin-bottom: 20px;line-height: 1;">
                {{ _('One of your favorites is on sale!') }}</h1>
            <p
                style="font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;color: #333;width: 100%;">
                {{ translationsDb[data.category|lower][lang] }} {{ data.brand }} {{ _('is on sale for only') }} {{
                data.price }} {{ _('uah') }}</p>
            <p
                style="font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 400;color: #333;width: 100%;">
                {{ _('What are you waiting for? Check it out') }} <a
                    href="https://kidsfashionstore.com.ua/product/{{ data.productId }}"
                    style="color: #E352BA;text-decoration: none;">{{ _('here') }}</a>.</p>
        </div>
    </div>
</body>
</html>